<% content_for :content do %>
<div class="col-xs-12">
  <h2 class="no-top-margin">My Lists <%= link_to "add new", new_my_user_list_url, class: "btn btn-default btn-sm" %></h2>
  
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th width="35%" class="text-center">Name</th>
        <th width="35%" class="text-center">Quotes</th>
        <th width="30%" class="text-center" colspan="3">Manage</th>
      </tr>
    </thead>
  
    <tbody>
      <% @lists.each do |list| %>
        <tr>
          <td><%= list.name %></td>
          <td class="text-center"></td>
          <td class="text-center"><%= link_to 'Show', my_user_quotes_url(list: list.id) %></td>
          <td class="text-center"><%= link_to 'Edit', edit_my_user_list_url(list) %></td>
          <td class="text-center"><%= link_to 'Destroy', my_user_list_url(list), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>  
<% end %>