<% content_for :title do %>Terms and Conditions | LoveAQuote<% end %>

<% content_for :description do %>Terms and Conditions for LoveAQuote<% end %>

<% content_for :canonical do %><%= terms_and_conditions_url %><% end %>

<% content_for :heading do %>LoveAQuote Terms and Conditions<% end %>

<% content_for :content do %>
<p>This document constitutes a legally-binding agreement ("Agreement") governing the terms of providing you with our service. Throughout this document, the words "LoveAQuote", "LoveAQuote.com", "us", "we", and "our", refer to us, LoveAQuote, or our website, LoveAQuote.com as is appropriate in the context of the use of the words.</p>

<p>Likewise, the words "you" and "your" refer to you, the person who is being presented with this document for your agreement.</p>

<strong>Description of Service</strong>
<p>LoveAQuote, The Quote Lover's Community, offers a free access to our collections of Quotes and Proverbs. We collect these Quotes and Proverbs very diligently from various sources like Digital Archives, Newspapers, Magazines, and Books to name a few. All our quotes are hand picked and reviewed by a human being before they are published.
</p>
<p>Some of the quotes and proverbs may be soft edited for grammatical errors, spellings etc. without causing any change in the meaning or intent.</p>
<p>We strive for accuracy but cannot be held responsible for any errors in quotations or incorrect attributions. Some quotations may include content considered inappropriate by some standards for some age groups. We take no responsibility for filtering content based on any standards of morality, religion, or politics.
</p>

<strong>Copyright</strong>
<ul>
<br>
<li>Copyright of Quotes & Proverbs used on LoveAQuote</li>
<p>All quotes and proverbs used on LoveAQuote remain the intellectual property of their respective originators. We do not assert any claim of copyright over these quotes and proverbs. By quoting we do not in any way mean to imply their endorsement or approval of our site or its contents. To the best of our knowledge, all quotes and proverbs included here fall under the fair use or public domain guidelines of copyright law. If you believe that any quotation violates a copyright you hold or represent, we will immediately remove it upon notification pending good-faith resolution of any dispute.</p>
<li>Copyright of Images used on LoveAQuote</li>
<p>Sometimes we use an image of the Author or the Book from which the quotes and proverbs have been sourced. The use of the image is to make the attribution of the quote to its source more prominent and for a better visual representation. To the best of our knowledge, all images used on LoveAQuote are either in public domain or are copyright free. If you believe that any image violates a copyright you hold or represent, we will immediately remove it upon notification pending good-faith resolution of any dispute.</p>
<li>Our Copyright</li>
<p>We assert a claim of copyright for our compilations of quotes and proverbs, their unique scope and style, our site design and look and feel. You are free to use the information that we provide on LoveAQuote.com for legitimate academic, research, and reporting projects, but you can't just copy and paste our stuff on your own website</p>
</ul>
<strong>LoveAQuote Privacy Polivy</strong>
<p>To review the LoveAQuote Privacy Policy, please <%= link_to "click here", privacy_policy_url %>.</p>
<strong>LoveAQuote Disclaimer</strong>
<p>To review the LoveAQuote Disclaimer, please <%= link_to "click here", disclaimer_url %>.</p>
<br>
<%= link_to "LoveAQuote", root_url %>
<br>
<%= link_to "http://www.loveaquote.com", root_url %>
<br><br>
1503, Sector 17C
Gurgaon, Haryana - 122001
<br>
+91-8396003838
<br>
dpk@loveaquote.com
<br>
<br>
This document was last updated on March 4, 2016


<% end %>