<li>
    <div class="quote">

      <div class="quote-text">
        <p itemprop="itemListElement">
          <%= quote.text %>
          <% if quote.source_type == "Book" %>
            <%= " - " %>
            <% if quote.source.published? %>
              <%= link_to quote.source.name, model_url(quote.source), title: "Quotes from #{quote.source.name} book" %>
            <% else %>
              <%= quote.source.name %>
            <% end %>
          <% end %>
          <% if quote.source_type == "Movie" || quote.source_type == "TvShow" %>
            <%= " - as " %>
            <% if quote.character.published? %>
              <%= link_to quote.character.name, model_url(quote.character) %>
            <% else %>
              <%= quote.character.name %>
            <% end %>
            <%= " in " %>
            <% if quote.source.published? %>
              <%= link_to quote.source.name, model_url(quote.source), title: "Quotes from #{quote.source.name}" %>
            <% else %>
              <%= quote.source.name %>
            <% end %>
          <% end %>
          </p>
      </div>

      <div class="quote-meta">

        <div class="quote-info">
          <%= link_to quote.topics.published.first.name, topic_url(quote.topics.published.first), title: "#{quote.topics.published.first.name} Quotes" if quote.topics.published.any? %>
        </div>

        <div class="social-sharing">
          <a rel="nofollow" class="share-quote-twitter" title="Share this quote on Twitter" target="_blank" href="<%= twitter_quote_url(quote) %>"><%= image_tag('twitter.png') %></a>
          <a rel="nofollow" class="share-quote-facebook" title="Share this quote on Facebook" target="_blank" href="<%= facebook_quote_url(quote) %>"><%= image_tag('facebook.png') %></a>
          <% if quote.source.image.present? %>
            <a rel="nofollow" class="share-quote-pinterest" title="Share this quote on Pinterest" target="_blank" href="<%= pinterest_quote_url(quote) %>"><%= image_tag('pinterest.png') %></a>
          <% end %>
        </div>

      </div>

    </div>
</li>