<% content_for :canonical, "#{featured_topic_person_url(@person, @featured_topic, format: :html)}" %>
<% content_for :title, "#{@person.name} Quotes on #{@featured_topic.topic.name}" %>
<% content_for :description, "Quotes by #{@person.name}. Best collection of #{@person.name} quotes. Read, comment and share these quotes."%>

<% if @person.social_image.present? && @person.social_image.facebook.present? %>
  <% content_for :facebook_image, @person.social_image.facebook %>
<% end %>

<% content_for :content do %>
  <main class="col-xs-12">
    <h1 class="main-title text-center"><%= "#{@person.name} Quotes on #{@featured_topic.topic.name}" %></h1>
    
    <div class="row">
      <div class="grid">
        <% @quotes.each do |quote| %>
            <%= render partial: "partials/quote", locals: {quote: quote, context: @person, grid_class: "col-xs-12 col-sm-6 col-md-4 col-lg-4"} %>
        <% end %>              
      </div>
    </div>

  
    <div class="text-center">
      <%= paginate @quotes, :views_prefix => 'kaminari_bootstrap' %>
    </div>
    
    <p>Last Updated - <time itemprop="dateModified" datetime="<%= @person.updated_at.to_datetime %>"><%= @person.updated_at.to_datetime.strftime("%B %d, %Y")  %></time></p>
  </main>
  
  <aside class="col-xs-12">
    <%= render partial: "partials/aside", locals: { context: @person } %>    
  </aside>
  
  <%= render "partials/after_content" %>
<% end %>