<% content_for :title, @title %>

<% content_for :canonical, @canonical %>

<% content_for :heading, "People" %>

<% content_for :content do %>

  <div class="row jumps text-center">
    <% @people.each do |letter, people| %>
      <%= link_to letter, "##{letter}" %>
    <% end %>
  </div>


  <% @people.each do |letter, people| %>
    <div class="alphabet">
      <a class="name" name="<%= letter %>"><%= letter %></a>
      <div class="row">
        <% people.each do |person| %>
          <div class="col-xs-12 col-xm-12 col-md-6 col-lg-6">
            <div class="more-link text-center">
              <%= link_to person.name + " Quotes", person_url(person, format: :html), title: person.name + " Quotes" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="more-link text-center">
        <%= link_to "More ...", alphabet_people_url(letter.upcase) %>
      </div>
    </div>  
  <% end %>

<% end %>

<% content_for :additional_tags do %>
  <meta name="robots" content="noindex,follow">
<% end %>