<% content_for :title, @title %>

<% content_for :canonical, @canonical %>

<% content_for :heading, "People" %>

<% content_for :content do %>

  <div class="row jumps text-center">
    <% @people.each do |letter, people| %>
      <%= link_to letter, "##{letter}" %>
    <% end %>
  </div>


  <% @people.each do |letter, people| %>
    <div class="alphabet">
      <a class="name" name="<%= letter %>"><%= letter %></a>
      <% first = people.count / 3 + people.count % 3 %>
      <% second = first + people.count / 3 %>
      <% third =  second + people.count / 3 %>
      <div class="row">
        <div class="col-md-4">
          <ul>
            <% ( 1..first ).each do |count| %>
              <li><%= link_to people[count-1].name, person_url(people[count-1]), title: people[count-1].name + " Quotes" %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <% ( ( first + 1 )..second ).each do |count| %>
              <li><%= link_to people[count-1].name, person_url(people[count-1]), title: people[count-1].name + " Quotes"%></li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <% ( ( second+1 )..third ).each do |count| %>
              <li><%= link_to people[count-1].name, person_url(people[count-1]), title: people[count-1].name + " Quotes" %></li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-12">
          <ul>
            <li><%= link_to "More ...", alphabet_people_url(letter.upcase) %></li>
          </ul>
        </div>

      </div>
    </div>
  <% end %>

<% end %>