<%= render partial: "partials/seo", locals: {model: @person} %>

<% content_for :content do %>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
    <h1 class="main-title text-center"><%= "#{@person.name} Quotes" %></h1>
    
    <div class="row">
      <div class="grid">
        <% @quotes.each do |quote| %>
            <%= render partial: "partials/quote", locals: {quote: quote, context: @person} %>
        <% end %>              
      </div>
    </div>

  
    <div class="text-center">
      <%= paginate @quotes, :views_prefix => 'kaminari_bootstrap' %>
    </div>
    
    <p>Last Updated - <time itemprop="dateModified" datetime="<%= @person.updated_at.to_datetime %>"><%= @person.updated_at.to_datetime.strftime("%B %d, %Y")  %></time></p>
  </div>
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
    <%= render "partials/facebook_like_box" %>  
    <%= render partial: "partials/featured_topics", locals: {model: @person} %>
    <%= render partial: "partials/aside", locals: { model: @person } %>    
  </div>
<% end %>