<%= simple_form_for([:admin, @color_scheme]) do |f| %>
  <div class="row">
    <div class="col-sm-9">
      <div class="panel minimal minimal-gray">
        <div class="panel-heading">
          <div class="panel-title">
            
          </div>
          <div class="panel-options">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#color-scheme" data-toggle="tab">Color Scheme</a></li>
            </ul>
          </div>
        </div>
        
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane active" id="color-scheme">
              <div class="form-inputs">
                <%= f.input :background_color %>
                <%= f.input :foreground_color %>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>  

    <div class="col-sm-3 text-center">
      <% if @color_scheme.errors.any? %>
        <div class="alert alert-danger">
          <%= "#{@color_scheme.errors.count} error found" %>
        </div>
      <% end %>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    </div>
  </div>  
<% end %>