<%= render partial: "partials/seo", locals: {model: @movie} %>

<% content_for :content do %>
  <main class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
    <h1 class="main-title text-center"><%= "#{@movie.name} Quotes" %></h1>
    
    <div class="row">
      <div class="grid">    
        <% @quotes.each do |quote| %>
            <%= render partial: "partials/quote", locals: {quote: quote, context: @movie, grid_class: "col-xs-12 col-sm-6 col-md-6 col-lg-6"} %>
        <% end %>
      </div>
    </div>
  
    <div class="text-center">
      <%= paginate @quotes, :views_prefix => 'kaminari_bootstrap' %>
    </div>
    
    <p>Last Updated - <time itemprop="dateModified" datetime="<%= @movie.updated_at.to_datetime %>"><%= @movie.updated_at.to_datetime.strftime("%B %d, %Y")  %></time></p>
  </main>
  
  <aside class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
    <%= render "partials/facebook_like_box" %>  
    <%= render partial: "partials/aside", locals: { context: @movie } %>    
  </aside>
  
  <%= render "partials/after_content" %>
<% end %>