<div class="col-sm-12">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-4">
          <div class="tile-stats tile-aqua">
            <div class="icon"><i class="e-icon-quote"></i></div>
            <div class="num"><%= number_with_delimiter(Quote.count) %></div>
            <h3>Quotes</h3>
            <p><%= "#{number_to_percentage((100*Quote.verified.count)/Quote.count, precision: 0)} verified" %></p>
          </div>          
        </div>
    
        <div class="col-sm-4">
          <div class="tile-stats tile-aqua">
            <div class="icon"><i class="e-icon-flow-tree"></i></div>
            <div class="num"><%= number_with_delimiter(Topic.count) %></div>
            <h3>Topics</h3>
            <p><%= "#{number_to_percentage((100*Topic.published.count)/Topic.count, precision: 0)} published" %></p>
          </div>          
        </div>      
        
        <div class="col-sm-4">
          <div class="tile-stats tile-aqua">
            <div class="icon"><i class="e-icon-user"></i></div>
            <div class="num"><%= number_with_delimiter(Person.count) %></div>
            <h3>People</h3>
            <p><%= "#{number_to_percentage((100*Person.published.count)/Person.count, precision: 0)} published" %></p>
          </div>          
        </div>
        
        <div class="col-sm-4">
          <div class="tile-stats tile-aqua">
            <div class="icon"><i class="e-icon-book"></i></div>
            <div class="num"><%= number_with_delimiter(Book.count) %></div>
            <h3>Books</h3>
            <p><%= "#{number_to_percentage((100*Book.published.count)/Book.count, precision: 0)} published" %></p>
          </div>          
        </div>     
        
        <div class="col-sm-4">
          <div class="tile-stats tile-aqua">
            <div class="icon"><i class="e-icon-video"></i></div>
            <div class="num"><%= number_with_delimiter(Movie.count) %></div>
            <h3>Movies</h3>
            <p><%= "#{number_to_percentage((100*Movie.published.count)/Movie.count, precision: 0)} published" %></p>
          </div>          
        </div>       
        
        <div class="col-sm-4">
          <div class="tile-stats tile-aqua">
            <div class="icon"><i class="e-icon-social-instagram"></i></div>
            <div class="num"><%= number_with_delimiter(TvShow.count) %></div>
            <h3>Tv Shows</h3>
            <p><%= "#{number_to_percentage((100*TvShow.published.count)/TvShow.count, precision: 0)} published" %></p>
          </div>          
        </div> 
        
        <div class="col-sm-4">
          <div class="tile-stats tile-orange">
            <div class="icon"><i class="e-icon-users"></i></div>
            <div class="num"><%= number_with_delimiter(User.count) %></div>
            <h3>Users</h3>
            <% if Identity.count > 0 %>
              <p><%= "#{number_to_percentage((100*Identity.where(provider: 'facebook').count)/Identity.count, precision: 0)} FB, #{number_to_percentage((100*Identity.where(provider: 'google_oauth2').count)/Identity.count, precision: 0)} G" %></p>
            <% end %>  
          </div>          
        </div>   
        
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-sm-12">
          <%= link_to "Regenerate Quote Images", regenerate_all_images_admin_quotes_url, remote: true, "data-type": "json", class: "btn btn-default regenerate-all-quotes-images" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h3 style="margin-top: 0px">Recently Published</h3>
      <table class="table table-striped table-bordered table-hover">
        <tbody>
          <% @time_lines.each do |time_line| %>
            <tr>
              <td width="10%" class="text-center">
                <% case time_line.item.class.name %>
                <% when "Person" %>
                <%= '<i class="e-icon-user"></i>'.html_safe %>
                <% when "Book" %>
                <%= '<i class="e-icon-book"></i>'.html_safe %>
                <% when "Proverb" %>
                <%= '<i class="e-icon-flag"></i>'.html_safe %>
                <% when "Movie" %>
                <%= '<i class="e-icon-video"></i>'.html_safe %>            
                <% when "TvShow" %>
                <%= '<i class="e-icon-social-instagram"></i>'.html_safe %>            
                <% when "Topic" %>
                <%= '<i class="e-icon-flow-tree"></i>'.html_safe %>            
                <% end %>
              </td>
              <td width="90%">
                <% case time_line.item.class.name %>
                <% when "Person" %>
                <%= link_to time_line.item.name + " Quotes", admin_model_url(time_line.item) %>
                <% when "Book" %>
                <%= link_to time_line.item.name + " Quotes", admin_model_url(time_line.item) %>
                <% when "Proverb" %>
                <%= link_to time_line.item.name + " Proverbs", admin_model_url(time_line.item) %>
                <% when "Movie" %>
                <%= link_to time_line.item.name + " Quotes", admin_model_url(time_line.item) %>           
                <% when "TvShow" %>
                <%= link_to time_line.item.name + " Quotes", admin_model_url(time_line.item) %>            
                <% when "Topic" %>
                <%= link_to time_line.item.name + " Quotes", admin_model_url(time_line.item) %>            
                <% else %>
                <%= link_to time_line.item.name + " Quotes", admin_model_url(time_line.item) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>      
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $(".regenerate-all-quotes-images").on("ajax:complete", function(xhr, status) {
      toastr.success('Image regeneration for quotes started.');
    });  
  });
</script>