<% content_for :content do %>
<div class="col-sm-12">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-4">
          <%= link_to admin_quotes_url do %>
            <div class="tile-stats tile-aqua">
              <div class="icon"><i class="fa fa-quote-left"></i></div>
              <div class="num"><%= number_with_delimiter(Quote.count) %></div>
              <h3>Quotes</h3>
            </div>
          <% end %>
        </div>
    
        <div class="col-sm-4">
          <%= link_to admin_topics_url do %>
            <div class="tile-stats tile-aqua">
              <div class="icon"><i class="fa fa-exchange"></i></div>
              <div class="num"><%= number_with_delimiter(Topic.count) %></div>
              <h3>Topics</h3>
            </div>
          <% end %>
        </div>      
        
        <div class="col-sm-4">
          <%= link_to admin_people_url do %>
            <div class="tile-stats tile-aqua">
              <div class="icon"><i class="fa fa-user"></i></div>
              <div class="num"><%= number_with_delimiter(Person.count) %></div>
              <h3>People</h3>
            </div>          
          <% end %>
        </div>
        
        <div class="col-sm-4">
          <%= link_to admin_books_url do %>
            <div class="tile-stats tile-aqua">
              <div class="icon"><i class="fa fa-book"></i></div>
              <div class="num"><%= number_with_delimiter(Book.count) %></div>
              <h3>Books</h3>
            </div>          
          <% end %>
        </div>     
        
        <div class="col-sm-4">
          <%= link_to admin_movies_url do %>
            <div class="tile-stats tile-aqua">
              <div class="icon"><i class="fa fa-youtube-play"></i></div>
              <div class="num"><%= number_with_delimiter(Movie.count) %></div>
              <h3>Movies</h3>
            </div>          
          <% end %>
        </div>       
        
        <div class="col-sm-4">
          <%= link_to admin_tv_shows_url do %>
            <div class="tile-stats tile-aqua">
              <div class="icon"><i class="fa fa-instagram"></i></div>
              <div class="num"><%= number_with_delimiter(TvShow.count) %></div>
              <h3>Tv Shows</h3>
            </div>          
          <% end %>
        </div> 
        
        <div class="col-sm-4">
          <%= link_to admin_users_url do %>
            <div class="tile-stats tile-orange">
              <div class="icon"><i class="fa fa-users"></i></div>
              <div class="num"><%= number_with_delimiter(User.count) %></div>
              <h3>Users</h3>
            </div>          
          <% end %>
        </div>
        
        <div class="col-sm-4">
          <%= link_to admin_subscribers_url do %>
            <div class="tile-stats tile-orange">
              <div class="icon"><i class="fa fa-envelope-o"></i></div>
              <div class="num"><%= number_with_delimiter(Subscriber.count) %></div>
              <h3>Subscribers</h3>
            </div>          
          <% end %>
        </div>           
        
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $(".regenerate-all-quote-images").on("ajax:complete", function(xhr, status) {
      toastr.success('Image regeneration for quotes started.');
    });  
    $(".regenerate-all-social-images").on("ajax:complete", function(xhr, status) {
      toastr.success('Image regeneration for quotes started.');
    });      
  });
</script>
<% end %>