<li>
    <div class="quote">

      <div class="quote-text">
        <p itemprop="itemListElement"><%= quote.text %></p>
      </div>

      <div class="quote-meta">

        <div class="quote-info">
          <% cache "quote-info-#{quote.id}-#{quote.updated_at.to_s(:number)}-source-#{quote.source.updated_at.to_s(:number)}" do %>
            <% if quote.source.published? %>
              <% if quote.source.class.name == "Proverb" %>
                <%= link_to quote.source.name + " Proverbs", model_url(quote.source, format: :html), title: quote.source.name + " Proverbs" %>
              <% else %>
                <%= link_to quote.source.name + " Quotes", model_url(quote.source, format: :html), title: quote.source.name + " Quotes" %>
              <% end %>
            <% else %>
              <%= quote.source.name %>
            <% end %>
          <% end %>
        </div>

        <% cache "quote-meta-#{quote.id}-#{quote.updated_at.to_s(:number)}-source-#{quote.source.updated_at.to_s(:number)}" do %>
          <div class="social-sharing">
            <%= image_tag 'twitter.png', class: "share-quote-twitter", data: {url: twitter_quote_url(quote, human: "t")} %>
            <%= image_tag 'facebook.png', class: "share-quote-facebook", data: {url: facebook_quote_url(quote, human: "t")} %>
            <% if quote.source.image.present? %>
              <%= image_tag 'pinterest.png', class: "share-quote-pinterest", data: {url: pinterest_quote_url(quote, human: "t")} %>
            <% end %>
          </div>
        <% end %>

      </div>

    </div>
</li>