<%= render partial: "partials/seo", locals: {model: @topic} %>

<% content_for :heading, "#{@topic.name} Quotes" %>

<% if @topic.byline.present? %>
<% content_for :byline do %>
  <p class="byline">(<%= "#{@topic.name.downcase} - #{@topic.byline}" %>)</p>
<% end %>
<% end %>

<% if @topic.social_image.present? %>
  <% content_for :facebook_image, @topic.social_image.facebook %>
<% end %>

<% content_for :breadcrumbs do %>
	<ul class="breadcrumbs">
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="<%= root_url %>" itemprop="url"><span itemprop="title">Home</span></a></li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="<%= topics_url(format: :html) %>" itemprop="url"><span itemprop="title">Topics</span></a></li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><%= @topic.name + " Quotes" %></span></li>
  </ul>
<% end %>

<% content_for :content do %>
  <ul>
    <% @quotes.each do |quote| %>
        <%= render partial: "topics/quote", object: quote %>
    <% end %>
  </ul>

  <div class="text-center">
    <%= paginate @quotes, :views_prefix => 'kaminari_foundation' %>
  </div>

<% end %>

<% content_for :updated do %>
  Last Updated - <time itemprop="dateModified" datetime="<%= @topic.updated_at.to_datetime %>"><%= @topic.updated_at.to_datetime.strftime("%B %d, %Y")  %></time>
<% end %>

<% content_for :social_sharing do %>
    <a rel="nofollow" class="share-topic-twitter" title="<%= "Share #{@topic.name} quotes on Twitter" %>" target="_blank" href="<%= twitter_topic_url(@topic) %>"><%= image_tag('social/twitter.png') %></a>
    <a rel="nofollow" class="share-topic-facebook" title="<%= "Share #{@topic.name} quotes on Facebook" %>" target="_blank" href="<%= facebook_topic_url(@topic) %>"><%= image_tag('social/facebook.png') %></a>
    <% if @topic.image.present? %>
      <a rel="nofollow" class="share-topic-pinterest" title="<%= "Share #{@topic.name} quotes on Pinterest" %>" target="_blank" href="<%= pinterest_topic_url(@topic) %>"><%= image_tag('social/pinterest.png') %></a>
    <% end %>
<% end %>

<% content_for :aside do %>
  <%= render partial: "partials/aside", locals: { model: @topic } %>
<% end %>

<% content_for :search_form do %>
  <%= form_tag search_topic_url(@topic, format: :html), method: :get do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class: "input-group-field small" %>
      <div class="input-group-button">
        <%= submit_tag "Search", class: "button small secondary" %>
      </div>
    </div>
  <% end %>
<% end %>