<%= render partial: "partials/seo", locals: {model: @topic} %>

<% content_for :content do %>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
    <h1 class="main-title text-center"><%= "#{@topic.name} Quotes" %></h1>
    
    <% if @topic.byline.present? %>
      <p class="byline">(<%= "#{@topic.name.downcase} - #{@topic.byline}" %>)</p>
    <% end %>
    
    <%= render partial: "partials/top_social_bar", locals: {model: @topic} %>    
    
    <% @quotes.each do |quote| %>
        <%= render partial: "topics/quote", object: quote %>
    <% end %>
  
    <div class="text-center">
      <%= paginate @quotes, :views_prefix => 'kaminari_bootstrap' %>
    </div>
    
    <p>Last Updated - <time itemprop="dateModified" datetime="<%= @topic.updated_at.to_datetime %>"><%= @topic.updated_at.to_datetime.strftime("%B %d, %Y")  %></time></p>
  </div>
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
    <%= render "partials/facebook_like_box" %>  
    <%= render partial: "partials/aside", locals: { model: @topic } %>    
  </div>
<% end %>