<%= render partial: "partials/seo", locals: {model: @topic} %>

<% content_for :content do %>
  <main class="col-xs-12">
    <h1 class="main-title text-center"><%= "#{@topic.name} Quotes" %></h1>
    
    <% if @topic.byline.present? %>
      <p class="byline">(<%= "#{@topic.name.downcase} - #{@topic.byline}" %>)</p>
    <% end %>
    
    <div class="row">
      <div class="grid">    
        <% @quotes.each do |quote| %>
            <%= render partial: "partials/quote", locals: {quote: quote, context: @topic, grid_class: "col-xs-12 col-sm-6 col-md-4 col-lg-4"} %>
        <% end %>
      </div>
    </div>
  
    <div class="text-center">
      <%= paginate @quotes, :views_prefix => 'kaminari_bootstrap' %>
    </div>
    
    <p>Last Updated - <time itemprop="dateModified" datetime="<%= @topic.updated_at.to_datetime %>"><%= @topic.updated_at.to_datetime.strftime("%B %d, %Y")  %></time></p>
  </main>
  
  <aside class="col-xs-12">
    <%= render partial: "partials/aside", locals: { context: @topic } %>    
  </aside>
  
  <%= render "partials/after_content" %>
<% end %>