<% if params.has_key?(:page) %>
  <% content_for :canonical, "#{canonical_url(@topic, params[:page], format: :html)}" %>
  <% content_for :title, "#{@topic.name} Quotes - #{@topic.quotes.count.to_s} quotes about #{@topic.name} - Page #{params[:page]}"  %>
  <% content_for :description, "Quotes about #{@topic.name} - page #{params[:page]}. Best collection of #{@topic.name} quotes. Read, comment and share these quotes." %>
<% else %>
  <% content_for :canonical, "#{canonical_url(@topic, format: :html)}" %>
  <% content_for :title, "#{@topic.name} Quotes - #{@topic.quotes.count.to_s} quotes about #{@topic.name}"  %>
  <% content_for :description, "Quotes about #{@topic.name}. Best collection of #{@topic.name} quotes. Read, comment and share these quotes." %>
<% end %>

<% content_for :heading, "#{@topic.name} Quotes" %>

<% if @topic.social_image.present? %>
  <% content_for :facebook_image, @topic.social_image.facebook %>
<% end %>

<% content_for :breadcrumbs do %>
	<ul class="breadcrumbs">
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="<%= root_url %>" itemprop="url"><span itemprop="title">Home</span></a></li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="<%= topics_url %>" itemprop="url"><span itemprop="title">Topics</span></a></li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><%= @topic.name %></span></li>
  </ul>
<% end %>

<% content_for :content do %>
  <ul>
    <% @quotes.each do |quote| %>
        <%= render partial: "topics/quote", object: quote %>
    <% end %>
  </ul>

  <div class="text-center">
    <%= paginate @quotes, :views_prefix => 'kaminari_foundation' %>
  </div>

<% end %>

<% content_for :comments do %>
  <div class="fb-comments" data-href="<%= topic_url(@topic) %>" data-numposts="10" data-colorscheme="light" data-width="100%"></div>
<% end %>

<% content_for :updated do %>
  Last Updated - <time itemprop="dateModified" datetime="<%= @topic.updated_at.to_datetime %>"><%= @topic.updated_at.to_datetime.strftime("%B %d, %Y")  %></time>
<% end %>

<% content_for :social_sharing do %>
    <a rel="nofollow" class="share-topic-twitter" title="<%= "Share #{@topic.name} quotes on Twitter" %>" target="_blank" href="<%= twitter_topic_url(@topic) %>"><%= image_tag('social/twitter.png') %></a>
    <a rel="nofollow" class="share-topic-facebook" title="<%= "Share #{@topic.name} quotes on Facebook" %>" target="_blank" href="<%= facebook_topic_url(@topic) %>"><%= image_tag('social/facebook.png') %></a>
    <% if @topic.image.present? %>
      <a rel="nofollow" class="share-topic-pinterest" title="<%= "Share #{@topic.name} quotes on Pinterest" %>" target="_blank" href="<%= pinterest_topic_url(@topic) %>"><%= image_tag('social/pinterest.png') %></a>
    <% end %>
<% end %>

<% content_for :aside do %>
  <div class="widget">
    <div class="heading">
      <h5>Follow on Facebook</h5>
    </div>
    <div class="content">
      <div class="fb-page" data-href="https://www.facebook.com/doyouloveaquote/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/doyouloveaquote/"><a href="https://www.facebook.com/doyouloveaquote/">Doyouloveaquote</a></blockquote></div></div>
    </div>
  </div>

  <% if @topic.all_topic_combinations.any? %>
    <div class="widget">
      <div class="heading">
        <h5>Similar Topics</h5>
      </div>
      <div class="content">
        <div class="row small-up-1 medium-up-1 large-up-1">
          <% @topic.all_topic_combinations.each do |combination| %>
            <div class="column">
              <div class="more-link">
                <%= link_to combination.name + " Quotes", topics_topic_combination_url(combination, format: :html), title: combination.name + " Quotes" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
