<% content_for :title,"#{@topic.name} Quotes - #{@topic.quotes.count.to_s} quotes about #{@topic.name}"  %>
<% content_for :description, "Quotes about #{@topic.name}. Best collection of #{@topic.name} quotes. Read, comment and share these #{@topic.name} quotes." %>

<% content_for :canonical, "#{topic_url(@topic)}" %>

<% content_for :heading, "#{@topic.name} Quotes" %>

<% if @topic.image.present? %>
  <% content_for :image_url, URI.join( root_url, @topic.image.url).to_s %>
<% end %>

<% content_for :content do %>

  <ul>
    <% @quotes.each do |quote| %>
        <%= render partial: "topics/quote", object: quote %>
    <% end %>
  </ul>

  <%= paginate @quotes %>
<% end %>

<% content_for :comments do %>
  <div class="fb-comments" data-href="<%= topic_url(@topic) %>" data-numposts="10" data-colorscheme="light" data-width="100%"></div>
<% end %>

<% content_for :updated do %>
  Last Updated - <time itemprop="dateModified" datetime="<%= @topic.updated_at.to_datetime %>"><%= @topic.updated_at.to_datetime.strftime("%B %d, %Y")  %></time>
<% end %>
