<div class="col-sm-12">

  <h2>Authors <%= link_to "add new", new_admin_author_url, class: "btn btn-default btn-sm" %></h2>
  
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th width="70%" class="text-center">Name</th>
        <th width="30%" class="text-center" colspan="3">Manage</th>
      </tr>
    </thead>
  
    <tbody>
      <% @authors.each do |author| %>
        <tr>
          <td><%= author.name %></td>
          <td class="text-center"><%= link_to 'Show', admin_author_url(author) %></td>
          <td class="text-center"><%= link_to 'Edit', edit_admin_author_url(author) %></td>
          <td class="text-center"><%= link_to 'Destroy', admin_author_url(author) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="text-center">
    <%= paginate @authors %>
  </div>
</div>