<div class="col-sm-12">
  <h2><%= @author.name %> <%= link_to "authors", admin_authors_url, class: "btn btn-default dtn-sm" %> <%= link_to "edit", edit_admin_author_url(@author), class: "btn btn-default dtn-sm" %></h2>
  
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th width="70%" class="text-center">Quote</th>
        <th width="30%" class="text-center" colspan="2">Manage</th>
      </tr>
    </thead>
  
    <tbody>
        <% @author.quotes.order(text: :ASC).each do |quote| %>
            <tr>
                <td><%= quote.text %></td>
                <td class="text-center"><%= link_to "Edit", "#", class: "edit_quote", data: {url: edit_admin_quote_url(quote) } %></td>
                <td class="text-center"><%= link_to "Delete", admin_quote_url(quote), method: :delete, remote: true, class: "delete_quote" %></td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(function() {
    $(".delete_quote").on("ajax:complete", function(xhr, status) {
      $(this).closest("tr").remove();
    });
    
    $(".edit_quote").on("click", function(e) {
      e.preventDefault();
      var csrf_token = $('meta[name="csrf-token"]').attr('content');
      alert(csrf_token);
    })
  });
</script>