<% content_for :title, @title %>

<% content_for :canonical, @canonical %>

<% content_for :heading, "Tv Shows" %>

<% content_for :content do %>

  <div class="row jumps text-center">
    <% @tv_shows.each do |letter, tv_shows| %>
      <%= link_to letter, "##{letter}" %>
    <% end %>
  </div>


  <% @tv_shows.each do |letter, tv_shows| %>
     <div class="alphabet">
      <a class="name" name="<%= letter %>"><%= letter %></a>
      <div class="row">
        <% tv_shows.each do |tv_show| %>
          <div class="col-xs-1 col-sm-1 col-md-6 col-lg-6">
            <div class="more-link text-center">
              <%= link_to tv_show.name + " Quotes", tv_show_url(tv_show, format: :html), title: tv_show.name + " Quotes" %>
            </div>
          </div>
        <% end %>
      </div>  
      <div class="more-link text-center">
        <%= link_to "More ...", alphabet_tv_shows_url(letter.upcase) %>
      </div>
    </div>  
  <% end %>

<% end %>

<% content_for :additional_tags do %>
  <meta name="robots" content="noindex,follow">
<% end %>