<% content_for :title, "Tv Show Quotes - Read quotes from Tv Shows" %>
<% content_for :description, "Tv Show Quotes - Read quotes from Tv Shows" %>
<% content_for :canonical, "#{tv_shows_url(format: :html)}" %>

<% content_for :content do %>
  <div class="col-xs-12">
    <h1 class="main-title text-center">Tv Shows</h1>

    <div class="jumps text-center">
      <% @tv_shows.each do |letter, tv_shows| %>
        <%= link_to letter, "##{letter}" %>
      <% end %>
    </div>
    
    <% @tv_shows.each do |letter, tv_shows| %>
      <div class="alphabet">
        <a class="name" name="<%= letter %>"><%= letter %></a>
        <div class="row">
          <% tv_shows.each do |tv_show| %>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <%= link_to tv_show.name + " Quotes", tv_show_url(tv_show, format: :html), title: tv_show.name + " Quotes", class: "link-box text-center" %>
            </div>
          <% end %>
        </div>
        <%= link_to "More ...", alphabet_tv_shows_url(letter.upcase), class: "link-box text-center" %>
      </div>
    <% end %>        
    
  </div>
<% end %>

<% content_for :additional_tags do %>
  <meta name="robots" content="noindex,follow">
<% end %>