<%= render partial: "partials/seo", locals: {model: @tv_show} %>

<% content_for :content do %>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
    <h1 class="main-title text-center"><%= "#{@tv_show.name} Quotes" %></h1>
    
    <div class="row">
      <div class="grid">    
        <% @quotes.each do |quote| %>
            <%= render partial: "partials/quote", locals: {quote: quote, source: @tv_show} %>
        <% end %>
      </div>
    </div>
  
    <div class="text-center">
      <%= paginate @quotes, :views_prefix => 'kaminari_bootstrap' %>
    </div>
    
    <p>Last Updated - <time itemprop="dateModified" datetime="<%= @tv_show.updated_at.to_datetime %>"><%= @tv_show.updated_at.to_datetime.strftime("%B %d, %Y")  %></time></p>
  </div>
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
    <%= render "partials/facebook_like_box" %>  
    <%= render partial: "partials/aside", locals: { model: @tv_show } %>    
  </div>
<% end %>