<div class="grid-item <%= grid_class %>">
    <div class="quote" data-quote-id="<%= quote.id %>" <% if current_user && current_user.user_quotes_array.include?(quote.id) %> data-user-quote-id="<%= current_user.user_quotes.where(quote_id: quote.id).first.id %>" <% end %>>
      <% if quote.image.present? %>		
        <div class="quote-image">		
          <%= image_tag quote.image.medium.url, style: "width: 100%" %>		
        </div>		
      <% end %>
      <div class="quote-text">
        <p><%= quote.text %></p>
        <% if context.class.name == "Topic" %>
          <% if quote.source.class.name == "Proverb" %>
            <div class="quote-source">
              <%= link_to quote.source.name + " Proverb", model_url(quote.source, format: :html) %>
            </div>          
          <% else %>
            <div class="quote-source">
              <%= link_to quote.source.name, model_url(quote.source, format: :html) %>
            </div>          
          <% end %>
        <% end %>
      </div>
      
      <% case context.class.name %>
      <% when "Topic" %>
        <% if quote.topics.where.not(id: context.id).any? %>
          <div class="quote-topics">
            <p class="no-margin">
              <%= quote.topics.where.not(id: context.id).map{|t| link_to t.name, topic_url(t, format: :html)}.join(', ').html_safe %>
            </p>
          </div>
        <% end %>
      <% else %>  
        <% if quote.topics.any? %>
            <div class="quote-topics">
              <p class="no-margin">
                <%= quote.topics.map{|t| link_to t.name, topic_url(t, format: :html)}.join(', ').html_safe %>
              </p>
            </div>
          <% end %>      
      <% end %>
      
      <div class="quote-meta">
          <div class="social-sharing">
            <% cache "quote-meta-#{quote.id}-#{quote.updated_at.to_s(:number)}-source-#{quote.source.updated_at.to_s(:number)}" do %>
              <i class="fa fa-facebook share-quote-facebook fa-border" aria-hidden="true" data-url="<%= facebook_quote_url(quote, human: "t") %>"></i>              
              <% if quote.image.present? %>
                <i class="fa fa-pinterest fa-border share-quote-pinterest" aria-hidden="true" data-url="<%= pinterest_quote_url(quote, human: "t") %>"></i>
              <% end %>
              <i class="fa fa-twitter fa-border share-quote-twitter" aria-hidden="true" data-url="<%= twitter_quote_url(quote, human: "t") %>"></i>
            <% end %>
          </div>
          
          <% if current_user && current_user.user_quotes_array.include?(quote.id) %>
            <div class="save-quote">
              <i class="fa fa-heart fa-border" aria-hidden="true"></i>            
            </div>
          <% else %>
            <div class="save-quote">
              <i class="fa fa-heart-o fa-border" aria-hidden="true"></i>            
            </div>
          <% end %>
      </div>
    </div>
</div>