<div class="col-sm-12">
  <ol class="breadcrumb bc-3">
    <li><%= link_to "Home", admin_root_url %></li>
    <li><%= link_to "Topics", admin_topics_url %></li>
    <li class="active"><%= @topic.name %></li>
  </ol>

  <div class="row">
    <div class="col-sm-9">
      <h2><%= @topic.name %> <%= link_to "view", topic_url(@topic, format: :html), class: "btn btn-default btn-sm", target: "_blank" %> <%= link_to "edit", edit_admin_topic_url(@topic), class: "btn btn-default btn-sm" %></h2>

      <div class="panel minimal minimal-gray">

        <div class="panel-heading">
          <div class="panel-title">
          </div>
          <div class="panel-options">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#quotes" data-toggle="tab" aria-expanded="true">Quotes</a></li>
              <li class=""><a href="#quote-suggestions" data-toggle="tab" aria-expanded="false">Quote Suggestions</a></li>
              <% if @topic.social_image.present? %>
                <li><a href="#social-image" data-toggle="tab">Social Images</a></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane active" id="quotes">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th width="5%" class="text-center">Verified</th>
                    <th width="60%" class="text-center">Quote</th>
                    <th width="20%" class="text-center">Source</th>
                    <th width="15%" class="text-center" colspan="5">Manage</th>
                  </tr>
                </thead>

                <tbody>
                    <% @topic.quotes.order(text: :ASC).each do |quote| %>
                        <tr>
                          <td class="text-center"><%= quote.verified ? '<i class="e-icon-check"></i>'.html_safe : '<i class="e-icon-cross"></i>'.html_safe %></td>
                          <td><%= quote.text %></td>
                          <td class="text-center"><%= link_to quote.source.name, admin_quote_source_url(quote) %></td>
                          <td class="text-center"><%= link_to '<i class="fa fa-twitter"></i>'.html_safe, tweetable_admin_quote_url(quote), remote: true, "data-type": "json", class: "tweetable-quote" %></td>
                          <td class="text-center"><%= link_to '<i class="fa fa-calendar"></i>'.html_safe, qotd_admin_quote_url(quote), remote: true, "data-type": "json", class: "qotd-quote" %></td>
                          <td class="text-center"><%= link_to '<i class="fa fa-check"></i>'.html_safe, verify_admin_quote_url(quote), remote: :true, "data-type": "json", class: "verify-quote" %></td>
                          <td class="text-center"><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_quote_url(quote), target: "_blank" %></td>
                          <td class="text-center"><%= link_to '<i class="fa fa-trash"></i>'.html_safe, admin_quote_url(quote), method: :delete, remote: true, class: "delete-quote" %></td>                          
                        </tr>
                    <% end %>
                </tbody>
              </table>
            </div>
            
            <div class="tab-pane" id="quote-suggestions">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th width="65%" class="text-center">Quote</th>
                    <th width="20%" class="text-center">Source</th>
                    <th width="15%" class="text-center" colspan="3">Manage</th>
                  </tr>
                </thead>
              
                <tbody>
                  <% @topic.quote_topic_suggestions.where(read: false).order(quote_id: :ASC).each do |quote_topic_suggestion| %>
                    <tr>
                      <td><%= quote_topic_suggestion.quote.text %></td>
                      <td class="text-center"><%= link_to quote_topic_suggestion.quote.source.name, admin_quote_source_url(quote_topic_suggestion.quote) %> <%= quote_topic_suggestion.quote.source.published ? '<span class="badge badge-default">P</span>'.html_safe : '<span class="badge badge-default">D</span>'.html_safe %></td>
                      <td class="text-center"><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_quote_url(quote_topic_suggestion.quote), target: "_blank" %></td>
                      <td class="text-center"><%= link_to '<i class="fa fa-check"></i>'.html_safe, accept_admin_quote_topic_suggestion_url(id: quote_topic_suggestion.id), class:"accept_suggestion", remote: true %></td>
                      <td class="text-center"><%= link_to '<i class="fa fa-times"></i>'.html_safe, decline_admin_quote_topic_suggestion_url(id: quote_topic_suggestion.id), class:"decline_suggestion", remote: true %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <% if @topic.social_image.present? %>
              <div class="tab-pane" id="social-image">
                <h4>Facebook</h4>
                <%= image_tag @topic.social_image.facebook, style: "max-width: 100%" %>

                <h4>Twitter</h4>
                <%= image_tag @topic.social_image.twitter, style: "max-width: 100%" %>

                <h4>Google Plus</h4>
                <%= image_tag @topic.social_image.google_plus, style: "max-width: 100%" %>

                <h4>Pinterest</h4>
                <%= image_tag @topic.social_image.pinterest, style: "max-width: 100%" %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <%= render partial: "admin/partials/review", locals: {model: @topic} %>

      <% if @topic.topic_combinations.any? %>
        <div class="panel panel-default panel-shadow">
          <div class="panel-heading">
            <div class="panel-title">
              <h4>Combinations</h4>
            </div>
          </div>
          <div class="panel-body">
            <ul>
              <% @topic.all_topic_combinations.each do |combination| %>
                <li><%= link_to combination.primary_topic.name + " and " + combination.secondary_topic.name, admin_topic_combination_path(combination) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $(".accept_suggestion")
    .on("ajax:complete", function(e, data, status, xhr) {
        $(this).closest("tr").remove();
    });
  
    $(".decline_suggestion")
    .on("ajax:complete", function(e, data, status, xhr) {
        $(this).closest("tr").remove();
    });
    
    $(".delete-quote").on("ajax:complete", function(xhr, status) {
      $(this).closest("tr").remove();
    });
    
    $(".qotd-quote").on("ajax:complete", function(xhr, status) {
      toastr.success('Quote added to Quote of The Day queue.');
    });    
    
    $(".tweetable-quote").on("ajax:success", function(data, status, xhr) {
      toastr.success('Quote added to TweetableQuote list.');
    });
    
    $(".tweetable-quote").on("ajax:error", function(xhr, status, error) {
      toastr.error('Oops! this quote could not be added to TweetableQuote list.');
    });    
    
    $(".verify-quote").on("ajax:complete", function(e, data, status, xhr) {
      var response = jQuery.parseJSON(data.responseText);
      if (response.verification_status) {
        $(this).parent().siblings().first().children("i").attr('class', 'e-icon-check');
        toastr.success('Quote marked as verified.');
      } else {
        $(this).parent().siblings().first().children("i").attr('class', 'e-icon-cross');
        toastr.warning('Quote marked as unverified.');
      }
    });        
  });
</script>