<% if params.has_key?(:page) %>
  <% content_for :canonical, "#{page_author_url(@author, params[:page])}" %>
  <% content_for :title, "#{@author.name} Quotes - #{@author.quotes.count.to_s} quotes - Page #{params[:page]}" %>
  <% content_for :description, "Quotes by #{@author.name} - page #{params[:page]}. Best collection of #{@author.name} quotes. Read, comment and share these quotes."%>
<% else %>
  <% content_for :canonical, "#{author_url(@author)}" %>
  <% content_for :title, "#{@author.name} Quotes - #{@author.quotes.count.to_s} quotes" %>
  <% content_for :description, "Quotes by #{@author.name}. Best collection of #{@author.name} quotes. Read, comment and share these quotes."%>
<% end %>

<% content_for :heading, "#{@author.name} Quotes" %>

<% if @author.image.present? %>
  <% content_for :image_url, URI.join( root_url, @author.image.url).to_s %>
<% end %>

<% content_for :content do %>

  <ul itemscope itemtype="http://schema.org/ItemList">
    <% @quotes.order(total_share_count: :desc).order(text: :asc).each do |quote| %>
      <%= render partial: "authors/quote", object: quote %>
    <% end %>
  </ul>
  
  <div class="text-center">
    <%= paginate @quotes %>
  </div>
  
<% end %>

<% content_for :comments do %>
  <div class="fb-comments" data-href="<%= author_url(@author) %>" data-numposts="10" data-colorscheme="light" data-width="100%"></div>
<% end %>

<% content_for :updated do %>
  Last Updated - <time itemprop="dateModified" datetime="<%= @author.updated_at.to_datetime %>"><%= @author.updated_at.to_datetime.strftime("%B %d, %Y")  %></time>
<% end %>
