<% content_for :canonical, "#{featured_topic_proverb_url(@proverb, @featured_topic)}" %>
<% content_for :title, "#{@proverb.name} Proverb on #{@featured_topic.topic.name}" %>
<% content_for :description, "#{@proverb.name} Proverbs. Best collection of #{@proverb.name} proverbs. Read, comment and share these proverbs."%>

<% if @proverb.social_image.present? && @proverb.social_image.facebook.present? %>
  <% content_for :facebook_image, @proverb.social_image.facebook %>
<% end %>

<% content_for :content do %>
  <main class="col-xs-12">
    <h1 class="main-title text-center"><%= "#{@proverb.name} Proverbs on #{@featured_topic.topic.name}" %></h1>
    
    <div class="row">
      <div class="grid">    
        <% @quotes.each do |quote| %>
            <%= render partial: "partials/quote", locals: {quote: quote, context: @proverb, grid_class: "col-xs-12 col-sm-6 col-md-4 col-lg-4"} %>
        <% end %>
      </div>
    </div>
  
    <div class="text-center">
      <%= paginate @quotes, :views_prefix => 'kaminari_bootstrap' %>
    </div>
    
    <p>Last Updated - <time itemprop="dateModified" datetime="<%= @proverb.updated_at.to_datetime %>"><%= @proverb.updated_at.to_datetime.strftime("%B %d, %Y")  %></time></p>
  </main>
  
  <aside class="col-xs-12">
    <%= render partial: "partials/aside", locals: { context: @proverb } %>    
  </aside>
  
  <%= render "partials/after_content" %>
<% end %>