<% content_for :canonical, "#{featured_topic_proverb_url(@proverb, @featured_topic, format: :html)}" %>
<% content_for :title, "#{@proverb.name} Proverb on #{@featured_topic.topic.name}" %>
<% content_for :description, "#{@proverb.name} Proverbs. Best collection of #{@proverb.name} proverbs. Read, comment and share these proverbs."%>

<% if @proverb.social_image.present? && @proverb.social_image.facebook.present? %>
  <% content_for :facebook_image, @proverb.social_image.facebook %>
<% end %>

<% content_for :content do %>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
    <h1 class="main-title text-center"><%= "#{@proverb.name} Proverbs on #{@featured_topic.topic.name}" %></h1>
    
    <% @quotes.each do |quote| %>
      <%= render partial: "proverbs/quote", locals: {quote: quote, context: @proverb} %>
    <% end %>
  
    <div class="text-center">
      <%= paginate @quotes, :views_prefix => 'kaminari_bootstrap' %>
    </div>    
    
    <p>Last Updated - <time itemprop="dateModified" datetime="<%= @proverb.updated_at.to_datetime %>"><%= @proverb.updated_at.to_datetime.strftime("%B %d, %Y")  %></time></p>
  </div>
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
    <%= render "partials/facebook_like_box" %>  
    <% if @proverb.featured_topics.where.not(id: [@featured_topic.id]).any? %>
      <div class="panel panel-default panel-shadow text-center">
        <div class="panel-heading">
          <div class="panel-title"><%= @proverb.name %> Proverbs by topic</div>
        </div>
        <div class="panel-body">
          <div class="row">
            <% @proverb.featured_topics.where.not(id: [@featured_topic.id]).each do |ft| %>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <%= link_to "#{@proverb.name} Proverbs on #{ft.topic.name}", featured_topic_proverb_url(@proverb, featured_topic: ft, format: :html), class: "link-box text-center" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  
    <% if @proverb.books.any? %>
      <div class="panel panel-default panel-shadow text-center">
        <div class="panel-heading">
          <div class="panel-title">Books by <%= @proverb.name %></div>
        </div>
        <div class="panel-body">
          <div class="row">
            <% @proverb.books.each do |book| %>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <%= book.published? ? (link_to book.name, book_url(book), class: "link-box text-center") : (book.name) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>    
  </div>
<% end %>