<% content_for :title, "Proverb Themes - Read proverbs by themes" %>
<% content_for :description, "Proverb Themes - Read proverbs by themes" %>
<% content_for :canonical, "#{proverbs_url(format: :html)}" %>

<% content_for :content do %>
  <div class="col-xs-12">
    <h1 class="main-title text-center">Proverbs</h1>

    <div class="jumps text-center">
      <% @proverbs.each do |letter, proverbs| %>
        <%= link_to letter, "##{letter}" %>
      <% end %>
    </div>
    
    <% @proverbs.each do |letter, proverbs| %>
      <div class="alphabet">
        <a class="name" name="<%= letter %>"><%= letter %></a>
        <div class="row">
          <% proverbs.each do |proverb| %>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <%= link_to proverb.name + " Proverbs", proverb_url(proverb, format: :html), title: proverb.name + " Proverb", class: "link-box text-center" %>
            </div>
          <% end %>
        </div>
        <%= link_to "More ...", alphabet_proverbs_url(letter.upcase), class: "link-box text-center" %>
      </div>
    <% end %>        
    
  </div>    
<% end %>

<% content_for :additional_tags do %>
  <meta name="robots" content="noindex,follow">
<% end %>