<%= render partial: "partials/seo", locals: {model: @proverb} %>

<% content_for :heading, "#{@proverb.name} Proverbs" %>

<% if @proverb.social_image.present? %>
  <% content_for :facebook_image, @proverb.social_image.facebook %>
<% end %>

<% content_for :breadcrumbs do %>
	<ul class="breadcrumbs">
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="<%= root_url %>" itemprop="url"><span itemprop="title">Home</span></a></li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="<%= proverbs_url(format: :html) %>" itemprop="url"><span itemprop="title">Proverbs</span></a></li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><%= @proverb.name + " Proverbs" %></span></li>
  </ul>
<% end %>

<% content_for :content do %>
  <ul itemscope itemtype="http://schema.org/ItemList">
    <% @quotes.each do |quote| %>
      <%= render partial: "proverbs/quote", object: quote %>
    <% end %>
  </ul>

  <div class="text-center">
    <%= paginate @quotes, :views_prefix => 'kaminari_foundation' %>
  </div>
<% end %>

<% content_for :updated do %>
  Last Updated - <time itemprop="dateModified" datetime="<%= @proverb.updated_at.to_datetime %>"><%= @proverb.updated_at.to_datetime.strftime("%B %d, %Y")  %></time>
<% end %>

<% content_for :social_sharing do %>
    <a rel="nofollow" class="share-proverb-twitter" title="<%= "Share #{@proverb.name} quotes on Twitter" %>" target="_blank" href="<%= twitter_proverb_url(@proverb) %>"><%= image_tag('social/twitter.png') %></a>
    <a rel="nofollow" class="share-proverb-facebook" title="<%= "Share #{@proverb.name} quotes on Facebook" %>" target="_blank" href="<%= facebook_proverb_url(@proverb) %>"><%= image_tag('social/facebook.png') %></a>
    <% if @proverb.image.present? %>
      <a rel="nofollow" class="share-proverb-pinterest" title="<%= "Share #{@proverb.name} quotes on Pinterest" %>" target="_blank" href="<%= pinterest_proverb_url(@proverb) %>"><%= image_tag('social/pinterest.png') %></a>
    <% end %>
<% end %>

<% content_for :search_form do %>
  <%= form_tag search_proverb_url(@proverb, format: :html), method: :get do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class: "input-group-field small" %>
      <div class="input-group-button">
        <%= submit_tag "Search", class: "button small secondary" %>
      </div>
    </div>
  <% end %>
<% end %>