<%= render partial: "partials/seo", locals: {model: @proverb} %>

<% content_for :heading, "#{@proverb.name} Proverbs" %>

<% if @proverb.social_image.present? && @proverb.social_image.facebook.present? %>
  <% content_for :facebook_image, @proverb.social_image.facebook %>
<% end %>

<% content_for :breadcrumbs do %>
	<ol class="breadcrumb">
    <li><a href="<%= root_url %>">Home</a></li>
    <li><a href="<%= proverbs_url(format: :html) %>">Proverbs</a></li>
    <li><%= @proverb.name + " Proverbs" %></li>
  </ol>
<% end %>

<% content_for :content do %>
  <% @quotes.each do |quote| %>
    <%= render partial: "proverbs/quote", object: quote %>
  <% end %>

  <div class="text-center">
    <%= paginate @quotes, :views_prefix => 'kaminari_bootstrap' %>
  </div>
<% end %>

<% content_for :updated do %>
  Last Updated - <time itemprop="dateModified" datetime="<%= @proverb.updated_at.to_datetime %>"><%= @proverb.updated_at.to_datetime.strftime("%B %d, %Y")  %></time>
<% end %>

<% content_for :social_sharing do %>
    <a rel="nofollow" class="share-proverb-twitter" title="<%= "Share #{@proverb.name} proverbs on Twitter" %>" target="_blank" href="<%= twitter_proverb_url(@proverb) %>"><%= image_tag('social/twitter.png') %></a>
    <a rel="nofollow" class="share-proverb-facebook" title="<%= "Share #{@proverb.name} proverbs on Facebook" %>" target="_blank" href="<%= facebook_proverb_url(@proverb) %>"><%= image_tag('social/facebook.png') %></a>
    <% if @proverb.social_image.present? && @proverb.social_image.pinterest.present? %>
      <a rel="nofollow" class="share-proverb-pinterest" title="<%= "Share #{@proverb.name} proverbs on Pinterest" %>" target="_blank" href="<%= pinterest_proverb_url(@proverb) %>"><%= image_tag('social/pinterest.png') %></a>
    <% end %>
<% end %>

<% content_for :aside do %>
  <%= render partial: "partials/featured_topics", locals: {model: @proverb} %>
  <%= render partial: "partials/aside", locals: { model: @proverb } %>
<% end %>