<%= render partial: "partials/seo", locals: {model: @proverb} %>

<% content_for :content do %>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
    <h1 class="main-title text-center"><%= "#{@proverb.name} Proverbs" %></h1>
    
    <%= render partial: "partials/top_social_bar", locals: {model: @proverb} %>    
    
    <% @quotes.each do |quote| %>
        <%= render partial: "proverbs/quote", object: quote %>
    <% end %>
  
    <div class="text-center">
      <%= paginate @quotes, :views_prefix => 'kaminari_bootstrap' %>
    </div>
    
    <p>Last Updated - <time itemprop="dateModified" datetime="<%= @proverb.updated_at.to_datetime %>"><%= @proverb.updated_at.to_datetime.strftime("%B %d, %Y")  %></time></p>
  </div>
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
    <%= render "partials/facebook_like_box" %>  
    <%= render partial: "partials/aside", locals: { model: @proverb } %>    
  </div>
<% end %>