<% content_for :title, "LoveAQuote - RSS and XML Feeds" %>

<% content_for :description, "LoveAQuote - RSS and XML Feeds" %>

<% content_for :canonical, feed_url(format: :html) %>

<% content_for :heading, "LoveAQuote Feeds" %>

<% content_for :content do %>
<table>
	<thead>
		<tr>
			<th class="text-center">Feed</th>
			<th class="text-center">RSS feed link</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="text-center">Entire Site</td>
			<td class="text-center"><%= link_to "RSS", feed_url(format: :rss) %></td>
		</tr>
		<tr>
			<td class="text-center">People</td>
			<td class="text-center"><%= link_to "RSS", feed_people_url(format: :rss) %></td>
		</tr>
		<tr>
			<td class="text-center">Books</td>
			<td class="text-center"><%= link_to "RSS", feed_books_url(format: :rss) %></td>
		</tr>
		<tr>
			<td class="text-center">Movies</td>
			<td class="text-center"><%= link_to "RSS", feed_url(format: :rss) %></td>
		</tr>
		<tr>
			<td class="text-center">Tv Shows</td>
			<td class="text-center"><%= link_to "RSS", feed_url(format: :rss) %></td>
		</tr>
		<tr>
			<td class="text-center">Characters</td>
			<td class="text-center"><%= link_to "RSS", feed_url(format: :rss) %></td>
		</tr>
		<tr>
			<td class="text-center">Topics</td>
			<td class="text-center"><%= link_to "RSS", feed_url(format: :rss) %></td>
		</tr>
		<tr>
			<td class="text-center">Proverbs</td>
			<td class="text-center"><%= link_to "RSS", feed_url(format: :rss) %></td>
		</tr>
	</tbody>
</table>
<% end %>

<% content_for :additional_tags do %>
  <meta name="robots" content="noindex,follow">
<% end %>