<% content_for :title, "LoveAQuote - The Quote Lover's Community" %>

<% content_for :description, "LoveAQuote is an amazing and extensive collection of quotes from famous authors, books, movies. Quotes are categorized into various topics for easy reference." %>

<% content_for :keywords, "quotes,quotations,proverbs,author quotes,book quotes" %>

<% content_for :canonical, root_url %>

<% content_for :content do %>
  <% if @qotd %>
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-10 col-md-offset-1">
        <h2 class="text-center">Quote Of The Day</h2>
        <p class="text-center"><%=  @qotd.quote.text %><br><%= link_to @qotd.quote.source.name, model_url(@qotd.quote.source, format: :html), title: "#{@qotd.quote.source.name} Quotes" %></p>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
  		<h2 class="text-center">Topics</h2>
		  <div class="row">
        <% @topics.each do |topic| %>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="more-link text-center">
            <%= link_to topic.name, topic_url(topic, format: :html), title: topic.name + " Quotes" %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="more-link text-center">
        <%= link_to "More Topics", topics_url %>
      </div>      
    </div>
    <div class="col-sm-12">
      <h2 class="text-center">People</h2>
		  <div class="row">
        <% @people.each do |person| %>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="more-link text-center">
            <%= link_to person.name, person_url(person, format: :html), title: person.name + " Quotes" %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="more-link text-center">
        <%= link_to "More People", people_url %>
      </div>
	 </div>
    <div class="col-sm-12">
      <h2 class="text-center">Books</h2>
		  <div class="row">
        <% @books.each do |book| %>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="more-link text-center">
            <%= link_to book.name, book_url(book, format: :html), title: book.name + " Quotes" %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="more-link text-center">
        <%= link_to "More Books", books_url %>
      </div>
    </div>
    <div class="col-sm-12">
      <h2 class="text-center">Proverbs</h2>
  	  <div class="row">
        <% @proverbs.each do |proverb| %>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="more-link text-center">
            <%= link_to proverb.name, proverb_url(proverb, format: :html), title: proverb.name + " Proverbs" %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="more-link text-center">
        <%= link_to "More Proverbs", proverbs_url %>
      </div>
    </div>
  </div>
<% end %>