<% content_for :title, "LoveAQuote - The Quote Lover's Community" %>

<% content_for :description, "LoveAQuote is an amazing and extensive collection of quotes from famous authors, books, movies. Quotes are categorized into various topics for easy reference." %>

<% content_for :keywords, "quotes,quotations,proverbs,author quotes,book quotes" %>

<% content_for :canonical, root_url %>

<% content_for :content do %>
  <main class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <% if @qotd.present? && @qotd.quote.image.present? %>
      <div class="text-center">
        <h2 style="margin-top:0px">Quote Of The Day</h2>
        <% if @qotd.quote.source.published? %>
          <%= link_to model_url(@qotd.quote.source, format: :html) do %>
            <%= image_tag @qotd.quote.image_url(:medium), width: "100%", height: "auto" %>
          <% end %>
        <% else %>
          <%= image_tag @qotd.quote.image_url(:medium), width: "100%", height: "auto" %>
        <% end %>
      </div>      
    <% end %>

		<h2 class="text-center" <% unless @qotd.present? %> style="margin-top: 0px" <% end %>>Topics<br><small>Read Quotes on Topics</small></h2>
	  <div class="row">
      <% @topics.each do |topic| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <%= link_to topic.name + " Quotes", topic_url(topic, format: :html), title: topic.name + " Quotes", class: "link-box text-center" %>
      </div>
      <% end %>
    </div>
    <%= link_to "#{Topic.where(very_popular: false).count} More Topics ...", topics_url, class: "link-box text-center" %>
    
    <h2 class="text-center">People<br><small>Read Quotes by People</small></h2>
	  <div class="row">
      <% @people.each do |person| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <%= link_to person.name + " Quotes", person_url(person, format: :html), title: person.name + " Quotes", class: "link-box text-center" %>
      </div>
      <% end %>
    </div>
    <%= link_to "#{Person.where(very_popular: false).count} More People ...", people_url, class: "link-box text-center" %>
      
    <h2 class="text-center">Books<br><small>Read Quotes from Books</small></h2>
	  <div class="row">
      <% @books.each do |book| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <%= link_to book.name + " Quotes", book_url(book, format: :html), title: book.name + " Quotes", class: "link-box text-center" %>
      </div>
      <% end %>
    </div>
    <%= link_to "#{Book.where(very_popular: false).count} More Books ...", books_url, class: "link-box text-center" %>
    
    <h2 class="text-center">Proverbs<br><small>Read Proverbs by Theme</small></h2>
	  <div class="row">
      <% @proverbs.each do |proverb| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <%= link_to proverb.name + " Proverbs", proverb_url(proverb, format: :html), title: proverb.name + " Proverbs", class: "link-box text-center" %>
      </div>
      <% end %>
    </div>
    <%= link_to "#{Proverb.where(very_popular: false).count} More Proverb Themes ... ", proverbs_url, class: "link-box text-center" %>
  </main>
<% end %>