<%= simple_form_for([:admin, @tv_show]) do |f| %>
  <div class="row">
    <div class="col-sm-9">
      <div class="panel minimal minimal-gray">
        <div class="panel-heading">
          <div class="panel-title">
            
          </div>
          <div class="panel-options">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tv_show" data-toggle="tab">Tv Show</a></li>
              <li><a href="#seo" data-toggle="tab">SEO</a></li>
              <li><a href="#characters" data-toggle="tab">Characters</a></li>
            </ul>
          </div>
        </div>
        
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane active" id="tv_show">
              <div class="form-inputs">
                <%= f.input :name %>
                <%= f.input :slug %>
                <div class="row">
                  <div class="col-sm-4">
                    <%= f.input :published %>
                    <%= f.input :popular %>
                    <%= f.input :very_popular %>
                  </div>
                  
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-6">
                        <% if @tv_show.image.present? %>
                          <%= image_tag @tv_show.image_url(:small), class: "thumbnail", style: "margin-bottom: 0px" %>
                        <% else %>
                          <%= image_tag "http://placehold.it/150x150" %>
                        <% end %>
                      </div>
                      <div class="col-sm-6">
                        <%= f.input :image %>                        
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
            
            <div class="tab-pane" id="seo">
              <%= f.simple_fields_for :seo do |seo| %>
                <%= seo.input :title %>
                <%= seo.input :description %>
              <% end %>
            </div>
            
            <div class="tab-pane" id="characters">
              <div id='character_sources'>
                <%= f.simple_fields_for :character_sources do |character_source| %>
                  <%= render 'character_source_fields', :f => character_source %>
                <% end %>
                <div class='links'>
                  <%= link_to_add_association '<i class="e-icon-squared-plus"></i> character'.html_safe, f, :character_sources %>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>  
    </div>  

    <div class="col-sm-3 text-center">
      <% if @tv_show.errors.any? %>
        <div class="alert alert-danger">
          <%= "#{@tv_show.errors.count} error found" %>
        </div>
      <% end %>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    </div>
  </div>  
<% end %>

<script type="text/javascript">
  $(function() {
    $("#tv_show_character_ids").multiSelect();
  });
</script>