<div class="col-sm-12">
  <ol class="breadcrumb bc-3"> 
    <li><%= link_to "Home", admin_root_url %></li>
    <li><%= link_to "Tv Shows", admin_tv_shows_url %></li> 
    <li class="active"><%= @tv_show.name %></li>
  </ol>
  
  <div class="row">
    <div class="col-sm-9">
      
      <div class="row">
        <div class="col-sm-3">
          <% if @tv_show.image.present? %>
            <%= image_tag @tv_show.image_url(:small), class: "thumbnail", style: "margin-bottom: 0px" %>
          <% else %>
            <%= image_tag "http://placehold.it/150x150", class: "thumbnail" %>
          <% end %>
        </div>
        <div class="col-sm-9">
          <h2 class="text-right"><%= link_to "view", tv_show_url(@tv_show), class: "btn btn-primary btn-sm", target: "_blank" %> <%= link_to "edit", edit_admin_tv_show_url(@tv_show), class: "btn btn-blue btn-sm" %> <%= link_to "new quote", "", class: "btn btn-default btn-sm add_new_quote" %> <%= @tv_show.name %></h2>
        </div>
      </div>
  
      <div class="panel minimal minimal-gray">
        <div class="panel-heading">
          <div class="panel-title">
            
          </div>
          <div class="panel-options">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#quotes" data-toggle="tab">Quotes</a>
              </li>
              <li>
                <a href="#quote-topic-suggestions" data-toggle="tab">Topic Suggestions</a>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="panel-body">
          
          <div class="tab-content">
            
            <div class="tab-pane active" id="quotes">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <% if @tv_show.characters.any? %>
                    <th width="5%" class="text-center">Verified</th>
                    <th width="65%" class="text-center">Quote</th>
                    <th width="20%" class="text-center">Character</th>
                  <% else %>
                    <th width="5%" class="text-center">Verified</th>
                    <th width="85%" class="text-center">Quote</th>
                  <% end %>
                  <th width="10%" class="text-center" colspan="2">Manage</th>
                </thead>
                
                <tbody>
                  <% @tv_show.quotes.order(text: :asc).each do |quote| %>  
                  <tr>
                    <td class="text-center"><%= quote.season_and_episode.present? ? '<i class="e-icon-check"></i>'.html_safe : '<i class="e-icon-cross"></i>'.html_safe %></td>
                    <td><%= quote.text %></td>
                    <% if @tv_show.characters.any? %>
                      <td><%= link_to quote.character.name, admin_character_path(quote.character) if quote.character.present? %></td>
                    <% end %>
                    <td class="text-center"><%= link_to "Edit", edit_admin_quote_url(quote), target: "_blank", class: "btn btn-primary btn-xs" %></td>
                    <td class="text-center"><%= link_to "Delete", admin_quote_url(quote), method: :delete, remote: true, class: "delete-quote btn btn-red btn-xs" %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            
            <div class="tab-pane" id="quote-topic-suggestions">
              <div class="row">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th width="60%" class="text-center">Quote</th>
                      <th width="20%" class="text-center">Topic</th>
                      <th width="20%" class="text-center" colspan="2">Manage</th>
                    </tr>
                  </thead>
                
                  <tbody>
                    <% @tv_show.quote_topic_suggestions.where(read: false).each do |quote_topic_suggestion| %>
                      <tr>
                        <td><%= quote_topic_suggestion.quote.text %></td>
                        <td class="text-center"><%= quote_topic_suggestion.topic.name %></td>
                        <td class="text-center"><%= link_to "Accept", accept_admin_quote_topic_suggestion_url(id: quote_topic_suggestion.id), class:"accept_suggestion", remote: true %></td>
                        <td class="text-center"><%= link_to "Decline", decline_admin_quote_topic_suggestion_url(id: quote_topic_suggestion.id), class:"decline_suggestion", remote: true %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>          
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <% if @tv_show.characters.any? %>
        <div class="panel panel-default panel-shadow">
          <div class="panel-heading">
            <div class="panel-title">
              <h4>Characters</h4>
            </div>
          </div>
          <div class="panel-body">
            <ul>
              <% @tv_show.characters.order(name: :ASC).each do |character| %>
                <li><%= link_to character.name, admin_character_path(character) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>  
</div>

<div class="modal fade in" id="new-quote-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Edit Quote</h4>
      </div>
      <div class="modal-body">
        <% @new_quote = Quote.new %>
        <% @new_quote.build_season_and_episode %>
        <%= simple_form_for([:admin, @new_quote]) do |f| %>
          <div class="form-inputs">          
            <%= f.input :text, input_html: {rows: 5} %>
            <%= f.association :character, collection: @tv_show.characters.order(name: :asc) if @tv_show.characters.any? %>
            <%= f.simple_fields_for :season_and_episode do |sae| %>
              <%= sae.input :season %>
              <%= sae.input :episode %>
            <% end %>
            <%= f.hidden_field :source_id, value: @tv_show.id %>
            <%= f.hidden_field :source_type, value: @tv_show.class.name %>
          </div>
          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $(".accept_suggestion")
    .on("ajax:complete", function(e, data, status, xhr) {
        $(this).closest("tr").remove();
    });
  
    $(".decline_suggestion")
    .on("ajax:complete", function(e, data, status, xhr) {
        $(this).closest("tr").remove();
    });
    
    $(".add_new_quote").on("click", function(e) {
      e.preventDefault();
      $("#new-quote-modal").modal('show');
    });
    
    $(".delete-quote").on("ajax:complete", function(xhr, status) {
      $(this).closest("tr").remove();
    });
  });
</script>