<% content_for :title, "Book Quotes - Read quotes from Books" %>
<% content_for :description, "Book Quotes - Read quotes from Books" %>
<% content_for :canonical, "#{books_url(format: :html)}" %>

<% content_for :content do %>
  <div class="col-xs-12">
    <h1 class="main-title text-center">Books</h1>

    <div class="jumps text-center">
      <% @books.each do |letter, books| %>
        <%= link_to letter, "##{letter}" %>
      <% end %>
    </div>
    
    <% @books.each do |letter, books| %>
      <div class="alphabet">
        <a class="name" name="<%= letter %>"><%= letter %></a>
        <div class="row">
          <% books.each do |book| %>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <%= link_to book.name + " Quotes", book_url(book, format: :html), title: book.name + " Quotes", class: "link-box text-center" %>
            </div>
          <% end %>
        </div>
        <div class="more-link text-center">
          <%= link_to "More ...", alphabet_books_url(letter.upcase) %>
        </div>
      </div>
    <% end %>        
    
  </div>
<% end %>

<% content_for :additional_tags do %>
  <meta name="robots" content="noindex,follow">
<% end %>