<% if params.has_key?(:page) %>
  <% content_for :canonical, "#{page_book_url(@book, params[:page])}" %>
  <% content_for :title, "#{@book.name} Quotes - #{@book.quotes.count.to_s} quotes - Page #{params[:page]}" %>
  <% content_for :description, "Quotes from #{@book.name} - page #{params[:page]}. Best collection of #{@book.name} quotes. Read, comment and share these quotes." %>
<% else %>
  <% content_for :canonical, "#{book_url(@book)}" %>
  <% content_for :title, "#{@book.name} Quotes - #{@book.quotes.count.to_s} quotes" %>
  <% content_for :description, "Quotes from #{@book.name}. Best collection of #{@book.name} quotes. Read, comment and share these quotes." %>
<% end %>

<% content_for :heading, "#{@book.name} Quotes" %>

<% if @book.image.present? %>
  <% content_for :image_url, URI.join( root_url, @book.image.url).to_s %>
<% end %>

<% content_for :breadcrumbs do %>
	<ul class="breadcrumbs">
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="<%= root_url %>" itemprop="url"><span itemprop="title">Home</span></a></li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="<%= books_url %>" itemprop="url"><span itemprop="title">Books</span></a></li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><%= @book.name %></span></li>
  </ul>
<% end %>

<% content_for :content do %>
  <ul itemscope itemtype="http://schema.org/ItemList">
    <% @quotes.each do |quote| %>
      <%= render partial: "books/quote", object: quote %>
    <% end %>
  </ul>
  
  <div class="text-center">
    <%= paginate @quotes %>
  </div>
<% end %>

<% content_for :comments do %>
  <div class="fb-comments" data-href="<%= book_url(@book) %>" data-numposts="10" data-colorscheme="light" data-width="100%"></div>
<% end %>

<% content_for :updated do %>
  Last Updated - <time itemprop="dateModified" datetime="<%= @book.updated_at.to_datetime %>"><%= @book.updated_at.to_datetime.strftime("%B %d, %Y")  %></time>
<% end %>