<% if params.has_key?(:page) %>
  <% content_for :canonical, "#{canonical_url(@book, params[:page], format: :html)}" %>
  <% content_for :title, "#{@book.name} Quotes - #{@book.quotes.count.to_s} quotes - Page #{params[:page]}" %>
  <% content_for :description, "Quotes from #{@book.name} - page #{params[:page]}. Best collection of #{@book.name} quotes. Read, comment and share these quotes." %>
<% else %>
  <% content_for :canonical, "#{canonical_url(@book, format: :html)}" %>
  <% content_for :title, "#{@book.name} Quotes - #{@book.quotes.count.to_s} quotes" %>
  <% content_for :description, "Quotes from #{@book.name}. Best collection of #{@book.name} quotes. Read, comment and share these quotes." %>
<% end %>

<% content_for :heading, "#{@book.name} Quotes" %>

<% if @book.social_image.present? %>
  <% content_for :facebook_image, @book.social_image.facebook %>
<% end %>

<% content_for :breadcrumbs do %>
	<ul class="breadcrumbs">
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="<%= root_url %>" itemprop="url"><span itemprop="title">Home</span></a></li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="<%= books_url(format: :html) %>" itemprop="url"><span itemprop="title">Books</span></a></li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><%= @book.name %></span></li>
  </ul>
<% end %>

<% content_for :content do %>
  <ul itemscope itemtype="http://schema.org/ItemList">
    <% @quotes.each do |quote| %>
      <%= render partial: "books/quote", object: quote %>
    <% end %>
  </ul>

  <div class="text-center">
    <%= paginate @quotes, :views_prefix => 'kaminari_foundation' %>
  </div>
<% end %>

<% content_for :comments do %>
  <div class="fb-comments" data-href="<%= book_url(@book) %>" data-numposts="10" data-colorscheme="light" data-width="100%"></div>
<% end %>

<% content_for :updated do %>
  Last Updated - <time itemprop="dateModified" datetime="<%= @book.updated_at.to_datetime %>"><%= @book.updated_at.to_datetime.strftime("%B %d, %Y")  %></time>
<% end %>

<% content_for :aside do %>
  <div class="widget">
    <div class="heading">
      <h5>Follow on Facebook</h5>
    </div>
    <div class="content">
      <div class="fb-page" data-href="https://www.facebook.com/doyouloveaquote/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/doyouloveaquote/"><a href="https://www.facebook.com/doyouloveaquote/">Doyouloveaquote</a></blockquote></div></div>
    </div>
  </div>
<% end %>

<% content_for :social_sharing do %>
    <a rel="nofollow" class="share-book-twitter" title="<%= "Share #{@book.name} quotes on Twitter" %>" target="_blank" href="<%= twitter_book_url(@book) %>"><%= image_tag('social/twitter.png') %></a>
    <a rel="nofollow" class="share-book-facebook" title="<%= "Share #{@book.name} quotes on Facebook" %>" target="_blank" href="<%= facebook_book_url(@book) %>"><%= image_tag('social/facebook.png') %></a>
    <% if @book.image.present? %>
      <a rel="nofollow" class="share-book-pinterest" title="<%= "Share #{@book.name} quotes on Pinterest" %>" target="_blank" href="<%= pinterest_book_url(@book) %>"><%= image_tag('social/pinterest.png') %></a>
    <% end %>
<% end %>

<% content_for :search_form do %>
  <%= form_tag search_book_url(@book, format: :html), method: :get do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class: "input-group-field small" %>
      <div class="input-group-button">
        <%= submit_tag "Search", class: "button small secondary" %>
      </div>
    </div>
  <% end %>
<% end %>