<% content_for :content do %>
  <div class="col-xs-12">
    <div class="branding">
      <h1><%= link_to "LoveAQuote", root_url %></h1>
      <p>The Quote Lover's Community</p>
    </div>
    
    <div class="wrapper">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
              <h2 class="text-center color-white weight-light no-top-margin">Do You LoveAQuote?</h2>
              <p class="text-justify">You like reading and collecting quotes, proverbs, and sayings? Great, we like that too. We have built advanced tools for fellow quote lovers like you. Access them by logging in right now!</p>
              <p class="text-justify"><i class="fa fa-heart" aria-hidden="true" style="color: #E45857"></i> <strong>Save Quotes</strong> - Save quotes as you browse them for easy access at a later time.</p>
              <p class="text-justify"><i class="fa fa-list" aria-hidden="true"></i> <strong>Create Lists</strong> - Categorize the quotes you like into lists.</p>              
              <p class="text-justify"><i class="fa fa-cogs" aria-hidden="true"></i> <strong>Advanced Tools</strong> - Be the first one to access the advanced tools as they become available.</p>              
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

          <h2 class="text-center color-white weight-light no-top-margin">Login</h2>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs text-center">
              <%= f.input :email, label: false, placeholder: "Email", input_html: {class: "input-lg text-center no-border-radius"} %>
              <%= f.input :password, label: false, placeholder: "Password", input_html: {class: "input-lg text-center no-border-radius"} %>
            </div>
            <div class="form-actions text-center">
              <%= f.submit "Login", class: "btn btn-primary btn-lg no-border-radius" %>
            </div>
          <% end %>
        </div>        
      </div>
    </div>
    
  </div>
<% end %>