<li>
    <div class="quote">

      <div class="quote-text">
        <p itemprop="itemListElement">
          <%= quote.text %>
          <% if quote.source_type == "Book" %>
            <%= " - " %>
            <%= link_to quote.source.name, book_url(quote.source, format: :html), title: "Quotes from #{quote.source.name} book" %>
          <% end %>
        </p>
      </div>

      <div class="quote-meta">
        <% cache "quote-info-#{quote.id}-topic-count-#{quote.topics.count}" do %>
          <div class="quote-info">
            <%= link_to quote.topics.published.first.name, topic_url(quote.topics.published.first, format: :html), title: "#{quote.topics.published.first.name} Quotes" if quote.topics.published.any? %>
          </div>
        <% end %>
        
        <% cache "quote-meta-#{quote.id}-#{quote.updated_at.to_s(:number)}-source-#{quote.source.updated_at.to_s(:number)}" do %>
          <div class="social-sharing">
            <a rel="nofollow" class="share-quote-twitter" title="Share this quote on Twitter" target="_blank" href="<%= twitter_quote_url(quote) %>"><%= image_tag('twitter.png') %></a>
            <a rel="nofollow" class="share-quote-facebook" title="Share this quote on Facebook" target="_blank" href="<%= facebook_quote_url(quote) %>"><%= image_tag('facebook.png') %></a>
            <% if quote.source.image.present? %>
              <a rel="nofollow" class="share-quote-pinterest" title="Share this quote on Pinterest" target="_blank" href="<%= pinterest_quote_url(quote) %>"><%= image_tag('pinterest.png') %></a>
              <% end %>
          </div>
        <% end %>

      </div>

    </div>
</li>