<% content_for :title, "Character Quotes - Read quotes from Characters" %>
<% content_for :description, "Character Quotes - Read quotes from Characters" %>
<% content_for :canonical, "#{characters_url(format: :html)}" %>

<% content_for :content do %>
  <div class="col-xs-12">
    <h1 class="main-title text-center">Characters</h1>

    <div class="jumps text-center">
      <% @characters.each do |letter, characters| %>
        <%= link_to letter, "##{letter}" %>
      <% end %>
    </div>
    
    <% @characters.each do |letter, characters| %>
      <div class="alphabet">
        <a class="name" name="<%= letter %>"><%= letter %></a>
        <div class="row">
          <% characters.each do |character| %>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <%= link_to character.name + " Quotes", character_url(character, format: :html), title: character.name + " Quotes", class: "link-box text-center" %>
            </div>
          <% end %>
        </div>
        <%= link_to "More ...", alphabet_characters_url(letter.upcase), class: "link-box text-center" %>
      </div>
    <% end %>        
    
  </div>
<% end %>

<% content_for :additional_tags do %>
  <meta name="robots" content="noindex,follow">
<% end %>