<% content_for :title, @title %>

<% content_for :canonical, @canonical %>

<% content_for :heading, "Characters" %>

<% content_for :content do %>

  <div class="row jumps text-center">
    <% @characters.each do |letter, characters| %>
      <%= link_to letter, "##{letter}" %>
    <% end %>
  </div>


  <% @characters.each do |letter, characters| %>
    <div class="alphabet">
      <a class="name" name="<%= letter %>"><%= letter %></a>
      <% first = characters.count / 3 + characters.count % 3 %>
      <% second = first + characters.count / 3 %>
      <% third =  second + characters.count / 3 %>
      <div class="row">
        <div class="col-md-4">
          <ul>
            <% ( 1..first ).each do |count| %>
              <li><%= link_to characters[count-1].name, character_url(characters[count-1]), title: characters[count-1].name + " Quotes" %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <% ( ( first + 1 )..second ).each do |count| %>
              <li><%= link_to characters[count-1].name, character_url(characters[count-1]), title: characters[count-1].name + " Quotes"%></li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <% ( ( second+1 )..third ).each do |count| %>
              <li><%= link_to characters[count-1].name, character_url(characters[count-1]), title: characters[count-1].name + " Quotes" %></li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-12">
          <ul>
            <li><%= link_to "More ...", alphabet_characters_url(letter.upcase) %></li>
          </ul>
        </div>

      </div>
    </div>
  <% end %>

<% end %>