<% if params.has_key?(:page) %>
  <% content_for :canonical, "#{canonical_url(@character, params[:page], format: :html)}" %>
  <% content_for :title, "#{@character.name} Quotes - #{@character.quotes.count.to_s} quotes - Page #{params[:page]}" %>
  <% content_for :description, "Quotes from #{@character.name} - page #{params[:page]}. Best collection of #{@character.name} quotes. Read, comment and share these quotes." %>
<% else %>
  <% content_for :canonical, "#{canonical_url(@character, format: :html)}" %>
  <% content_for :title, "#{@character.name} Quotes - #{@character.quotes.count.to_s} quotes" %>
  <% content_for :description, "Quotes from #{@character.name}. Best collection of #{@character.name} quotes. Read, comment and share these quotes." %>
<% end %>

<% content_for :heading, "#{@character.name} Quotes" %>

<% if @character.social_image.present? %>
  <% content_for :facebook_image, @character.social_image.facebook %>
<% end %>

<% content_for :breadcrumbs do %>
	<ul class="breadcrumbs">
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="<%= root_url %>" itemprop="url"><span itemprop="title">Home</span></a></li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="<%= characters_url(format: :html) %>" itemprop="url"><span itemprop="title">Characters</span></a></li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><%= @character.name + " Quotes" %></span></li>
  </ul>
<% end %>

<% content_for :content do %>
  <ul itemscope itemtype="http://schema.org/ItemList">
    <% @quotes.each do |quote| %>
      <%= render partial: "characters/quote", object: quote %>
    <% end %>
  </ul>

  <div class="text-center">
    <%= paginate @quotes, :views_prefix => 'kaminari_foundation' %>
  </div>
<% end %>

<% content_for :updated do %>
  Last Updated - <time itemprop="dateModified" datetime="<%= @character.updated_at.to_datetime %>"><%= @character.updated_at.to_datetime.strftime("%B %d, %Y")  %></time>
<% end %>

<% content_for :social_sharing do %>
    <a rel="nofollow" class="share-character-twitter" title="<%= "Share #{@character.name} quotes on Twitter" %>" target="_blank" href="<%= twitter_character_url(@character) %>"><%= image_tag('social/twitter.png') %></a>
    <a rel="nofollow" class="share-character-facebook" title="<%= "Share #{@character.name} quotes on Facebook" %>" target="_blank" href="<%= facebook_character_url(@character) %>"><%= image_tag('social/facebook.png') %></a>
    <% if @character.image.present? %>
      <a rel="nofollow" class="share-character-pinterest" title="<%= "Share #{@character.name} quotes on Pinterest" %>" target="_blank" href="<%= pinterest_character_url(@character) %>"><%= image_tag('social/pinterest.png') %></a>
    <% end %>
<% end %>

<% content_for :search_form do %>
  <%= form_tag search_character_url(@character, format: :html), method: :get do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class: "input-group-field small" %>
      <div class="input-group-button">
        <%= submit_tag "Search", class: "button small secondary" %>
      </div>
    </div>
  <% end %>
<% end %>