<%= simple_form_for([:admin, @character],
  html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>
  <div class="row">
    <div class="col-sm-9">
      <div class="panel minimal minimal-gray">
        <div class="panel-heading">
          <div class="panel-title">
            
          </div>
          <div class="panel-options">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#character" data-toggle="tab">Character</a></li>
              <li><a href="#seo" data-toggle="tab">SEO</a></li>
            </ul>
          </div>
        </div>
        
        <div class="panel-body">
          <div class="tab-content">
            
            <div class="tab-pane active" id="character">
              <div class="form-inputs">
                <%= f.input :name %>
                <%= f.input :slug %>
                <%= f.input :image %>
                <%= f.input :published %>
                <%= f.input :popular %>
                <%= f.input :very_popular %>
              </div>
            </div>
            
            <div class="tab-pane" id="seo">
              <%= f.simple_fields_for :seo do |seo| %>
                <%= seo.input :title %>
                <%= seo.input :description %>
              <% end %>
            </div>
            
          </div>
        </div>  
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <% if @character.errors.any? %>
        <div class="alert alert-danger">
          <%= "#{@character.errors.count} error found" %>
        </div>
      <% end %>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    </div>
    
  </div>
<% end %>
