<%= simple_form_for(@user_search) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :text %>
    <%= f.association :source %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
