<%= simple_form_for([:admin, @proverb]) do |f| %>
  <div class="row">
    <div class="col-sm-9">
      <div class="panel minimal minimal-gray">
        <div class="panel-heading">
          <div class="panel-title">
            
          </div>
          <div class="panel-options">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#proverb" data-toggle="tab">Proverb</a></li>
              <li><a href="#featured_topics" data-toggle="tab">Featured Topics</a></li>
              <li><a href="#seo" data-toggle="tab">SEO</a></li>
            </ul>
          </div>
        </div>
        
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane active" id="proverb">
              <div class="form-inputs">
                <%= f.input :name %>
                <div class="row">
                  <div class="col-sm-4">
                    <%= f.input :published %>
                    <%= f.input :popular %>
                    <%= f.input :very_popular %>
                  </div>
                  
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-6">
                        <% if @proverb.image.present? %>
                          <%= image_tag @proverb.image_url(:small), class: "thumbnail", style: "margin-bottom: 0px" %>
                        <% else %>
                          <%= image_tag "http://placehold.it/150x150" %>
                        <% end %>
                      </div>
                      <div class="col-sm-6">
                        <%= f.input :image %>                        
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
            <div class="tab-pane" id="seo">
              <%= f.simple_fields_for :seo do |seo| %>
                <%= seo.input :title %>
                <%= seo.input :description %>
                <%= f.input :slug %>
              <% end %>
            </div>
            <div class="tab-pane" id="featured_topics">
              <%= f.simple_fields_for :featured_topics do |featured_topic| %>
                <%= render 'featured_topic_fields', :f => featured_topic %>
              <% end %>

              <div class='links'>
                <%= link_to_add_association '<i class="e-icon-squared-plus"></i> featured topic'.html_safe, f, :featured_topics %>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>  

    <div class="col-sm-3 text-center">
      <% if @proverb.errors.any? %>
        <div class="alert alert-danger">
          <%= "#{@proverb.errors.count} error found" %>
        </div>
      <% end %>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    </div>
  </div>  
<% end %>