<%= simple_form_for([:admin, @person]) do |f| %>
  <div class="row">
    <div class="col-sm-9">
      <div class="panel minimal minimal-gray">
        <div class="panel-heading">
          <div class="panel-title">

          </div>
          <div class="panel-options">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#person" data-toggle="tab">Person</a></li>
              <li><a href="#person_details" data-toggle="tab">Person Details</a></li>
              <li><a href="#featured_topics" data-toggle="tab">Featured Topics</a></li>
              <li><a href="#seo" data-toggle="tab">SEO</a></li>
              <li><a href="#fetch" data-toggle="tab">Fetch</a></li>
            </ul>
          </div>
        </div>

        <div class="panel-body">
          <div class="tab-content">

            <div class="tab-pane active" id="person">
              <div class="form-inputs">
                <%= f.input :name %>
                <%= f.association :nationality, collection: Nationality.all.order(name: :ASC) %>
                <div class="row">
                  <div class="col-sm-4">
                    <%= f.input :born, as: :string, input_html: {type: "date"} %>
                    <%= f.input :died, as: :string, input_html: {type: "date"} %>
                    <%= f.input :published %>
                    <%= f.input :popular %>
                    <%= f.input :very_popular %>
                  </div>

                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-6">
                        <% if @person.image.present? %>
                          <%= image_tag @person.image_url(:small), class: "thumbnail", style: "margin-bottom: 0px" %>
                        <% else %>
                          <%= image_tag "http://placehold.it/150x150" %>
                        <% end %>
                      </div>
                      <div class="col-sm-6">
                        <%= f.input :image %>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="tab-pane" id="person_details">
              <%= f.simple_fields_for :person_professions do |person_profession| %>
                <%= render 'person_profession_fields', :f => person_profession %>
              <% end %>

              <div class='links'>
                <%= link_to_add_association '<i class="e-icon-squared-plus"></i> profession'.html_safe, f, :person_professions %>
              </div>
            </div>

            <div class="tab-pane" id="featured_topics">
              <%= f.simple_fields_for :featured_topics do |featured_topic| %>
                <%= render 'featured_topic_fields', :f => featured_topic %>
              <% end %>

              <div class='links'>
                <%= link_to_add_association '<i class="e-icon-squared-plus"></i> featured topic'.html_safe, f, :featured_topics %>
              </div>
            </div>

            <div class="tab-pane" id="seo">
              <%= f.simple_fields_for :seo do |seo| %>
                <%= seo.input :title %>
                <%= seo.input :description %>
                <%= f.input :slug %>
              <% end %>
            </div>

            <div class="tab-pane" id="fetch">
              <%= f.input :fetch_url %>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 text-center">
      <% if @person.errors.any? %>
        <div class="alert alert-danger">
          <%= "#{@person.errors.count} error found" %>
        </div>
      <% end %>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    </div>
  </div>
<% end %>
