<%= simple_form_for([:admin, @person]) do |f| %>
  <div class="row">
    <div class="col-sm-9">
      <div class="panel minimal minimal-gray">
        <div class="panel-heading">
          <div class="panel-title">
            
          </div>
          <div class="panel-options">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#author" data-toggle="tab">Author</a></li>
              <li><a href="#fetch" data-toggle="tab">Fetch</a></li>
            </ul>
          </div>
        </div>
        
        <div class="panel-body">
          <div class="tab-content">
            
            <div class="tab-pane active" id="author">
              <div class="form-inputs">
                <%= f.input :name %>
                <%= f.association :nationality, collection: Nationality.all.order(name: :ASC) %>
                <%= f.association :profession, collection: Profession.all.order(name: :ASC) %>
                <div class="row">
                  <div class="col-sm-4">
                    <%= f.input :published %>
                    <%= f.input :popular %>
                    <%= f.input :very_popular %>
                  </div>
                  
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-6">
                        <% if @person.image.present? %>
                          <%= image_tag @person.image_url(:small), class: "thumbnail", style: "margin-bottom: 0px" %>
                        <% else %>
                          <%= image_tag "http://placehold.it/150x150" %>
                        <% end %>
                      </div>
                      <div class="col-sm-6">
                        <%= f.input :image %>                        
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>  
            </div>
            
            <div class="tab-pane" id="fetch">
              <%= f.input :fetch_url %>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3 text-center">
      <% if @person.errors.any? %>
        <div class="alert alert-danger">
          <%= "#{@person.errors.count} error found" %>
        </div>
      <% end %>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    </div>
  </div>
<% end %>
