<%= simple_form_for([:admin, @person],
  html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>

  <div class="form-inputs">
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
          <% if @person.image.present? %>
            <%= image_tag @person.image_url(:small), class: "thumbnail", style: "margin-bottom: 0px" %>
          <% else %>
            <%= image_tag "http://placehold.it/150x150" %>
          <% end %>
      </div>
    </div>
    <%= f.input :name %>
    <%= f.input :fetch_url %>
    <%= f.input :image %>
    <%= f.association :nationality, collection: Nationality.all.order(name: :ASC) %>
    <%= f.association :profession, collection: Profession.all.order(name: :ASC) %>
    <%= f.input :published %>
    <%= f.input :popular %>
    <%= f.input :very_popular %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
