<div class="widget">
    <div class="content">
        <%= link_to root_url, class: "text-center", style: "display: block" do %>
            <%= image_tag "logo_256.png", size: "64x64" %>
        <% end %>
        <% if controller.action_name == "show" || controller.action_name == "search" || controller.action_name == "featured_topic" %>
          <p class="site-title"><%= link_to "LoveAQuote", root_url %></p>
        <% else %>
          <h1 class="site-title"><%= link_to "LoveAQuote", root_url %></h1>
        <% end %>
        <p class="text-center">The Quote Lover's Community</p>
        
        <div class="more-link text-center">
          <%= link_to "People", people_url %>
        </div>
        <div class="more-link text-center">
          <%= link_to "Topics", topics_url %>
        </div>
        <div class="more-link text-center">
          <%= link_to "Books", books_url %>
        </div>  
        <div class="more-link text-center">
          <%= link_to "Proverbs", proverbs_url %>
        </div>
    </div>
</div>

<% unless user_signed_in? %>
  <div class="widget">
    <div class="heading">
      <h5>Login</h5>
    </div>
    <div class="content">
      <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-block btn-social btn-google" do %>
          <span class="fa fa-google"></span>
          Sign in with Google
      <% end %>
      <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-social btn-facebook" do %>
        <span class="fa fa-facebook"></span>
        Sign in with Facebook
      <% end %>
    </div>
  </div>

<% else %> 
  <div class="widget">
    <div class="heading">
      <h5>My Account</h5>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="more-link text-center">
            <%= link_to "Dashboard", my_root_url %>
          </div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="more-link text-center">
            <%= link_to "Sign out", destroy_user_session_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="widget">
    <div class="heading">
      <h5>Follow on Facebook</h5>
    </div>
    <div class="content">
      <div class="fb-page" data-href="https://www.facebook.com/doyouloveaquote/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/doyouloveaquote/"><a href="https://www.facebook.com/doyouloveaquote/">Doyouloveaquote</a></blockquote></div></div>
    </div>
</div>