<footer class="site-footer">
  <p>&copy; 2011 - <%= Time.now.year %> LoveAQuote &middot; <%= link_to "Contact Us", new_message_url %> &middot; <%= link_to "Privacy Policy", "" %> &middot; <%= link_to "Disclaimer", "" %> &middot; <%= link_to "Terms & Conditions", "" %></p>
</footer>