<footer class="site-footer">
  <p>&copy; 2011 - <%= Time.now.year %> LoveAQuote &middot; <%= link_to "Contact Us", new_message_url %> &middot; <%= link_to "Privacy Policy", privacy_policy_url %> &middot; <%= link_to "Disclaimer", disclaimer_url %> &middot; <%= link_to "Terms & Conditions", terms_and_conditions_url %> &middot; <%= link_to "RSS Feeds", feed_url %></p>
</footer>