<title><%= yield :title %></title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="<%= yield :description %>">
<meta name="keywords" content="<%= yield :keywords %>">

<%= rel_next_prev_link_tags @quotes if @quotes %>

<link rel="canonical" href="<%= yield :canonical %>" />
<link rel="publisher" href="https://plus.google.com/+Loveaquote">

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%= yield :title %>" />
<meta property="og:description" content="<%= yield :description %>" />
<meta property="og:url" content="<%= yield :canonical %>" />
<meta property="og:site_name" content="LoveAQuote" />
<meta property="og:image" content="<%= yield :image_url || image_url("logo.png") %>" />

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@DoYouLoveAQuote"/>
<meta name="twitter:title" content="<%= yield :title  %>"/>
<meta name="twitter:description" content="<%= yield :description %>"/>
<meta name="twitter:image:src" content="<%= yield :image || image_url("logo.png")  %>"/>
<meta name="twitter:creator" content="@DoYouLoveAQuote"/>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="<%= Setting.google_verification %>" />
<meta name="msvalidate.01" content="<%= Setting.bing_verification %>" />
<meta name="yandex-verification" content="<%= Setting.yandex_verification %>" />
<meta name="alexaVerifyID" content="<%= Setting.alexa_verification %>" />

<%= favicon_link_tag %>
<%= csrf_meta_tags %>