<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="navbar-brand">
            <%= link_to admin_root_url do %>
                <%= image_tag "logo.png", size: "20" %>
            <% end %>
        </div>
        
        <ul class="navbar-nav">
            <li><%= link_to '<i class="e-icon-forward"></i><span class="title">Front</span>'.html_safe, root_url, target: "_blank" %></li>
            <li><%= link_to '<i class="e-icon-layout"></i><span class="title">Dashboard</span>'.html_safe, admin_root_url %></li>
            <li class="has-sub root-level">
                <a href="#"><i class="e-icon-plus"></i><span class="title">Add new</span></a>
                <ul>
                    <li><%= link_to "Author", new_admin_author_url %></li>
                    <li><%= link_to "Book", new_admin_book_url %></li>
                    <li><%= link_to "Topic", new_admin_topic_url %></li>
                </ul>
            </li>
        </ul>
        
        <ul class="nav navbar-right pull-right">
            <li><%= link_to '<i class="e-icon-cog"></i><span class="title">Settings</span>'.html_safe, admin_settings_url %></li>
            <li><%= link_to '<i class="e-icon-logout"></i><span class="title">Logout</span>'.html_safe, destroy_admin_session_path, method:"delete" %>      </li>
            <li class="visible-xs"> <div class="horizontal-mobile-menu visible-xs"> <a href="#" class="with-animation"><i class="e-icon-list"></i> </a> </div> </li>
        </ul>
    </div>
</header>