<% content_for :content do %>
    <div class="col-xs-6">
        <h1 class="no-top-margin">Welcome <%= current_user.first_name%></h1>
        
        <div class="row">
            <div class="col-sm-4">
              <div class="tile-stats tile-aqua">
                <div class="icon"><i class="e-icon-quote"></i></div>
                <div class="num"><%= number_with_delimiter(current_user.user_quotes.count) %></div>
                <h3>Quotes</h3>
                <p></p>
              </div>
              <p class="text-center"><%= link_to "View My Quotes", my_user_quotes_url, class: "btn btn-primary" %></p>
            </div>
            
            <div class="col-sm-4">
              <div class="tile-stats tile-aqua">
                <div class="icon"><i class="e-icon-list"></i></div>
                <div class="num"><%= number_with_delimiter(current_user.user_lists.count) %></div>
                <h3>Lists</h3>
                <p></p>
              </div>          
              <p class="text-center"><%= link_to "View My Lists", my_user_lists_url, class: "btn btn-primary" %></p>                          
            </div>            
        </div>
    </div>
<% end %>