<% content_for :title, "My Account" %>

<% content_for :content do %>

<div class="row">
    <div class="col-md-6">
        <h2 style="margin-top: 10px">My Quotes</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <%= form_tag my_root_url, method: "GET", style: "margin-top: 10px" do %>
            <%= select_tag "list", options_from_collection_for_select(current_user.lists, "id", "name"), prompt: "Filter by List", class: "form-control", onchange: "this.form.submit();" %>
        <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
        <div class="add-new-list" style="margin-top: 10px">
            <%= link_to "My Lists", my_lists_url, class: "btn btn-small btn-primary" %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
<% if @list_quotes.count > 0 %>
    <% @list_quotes.each do |lq| %>
        <%= render partial: "my/dashboard/quote", object: lq.quote %>
    <% end %>
    <%= paginate @list_quotes, :views_prefix => 'kaminari_bootstrap' %>
<% else %>
    <p>No quotes found. Add some to your list and they will appear here.</p>                
<% end %>            
</div>
</div>

<% end %>