<%= simple_form_for([:admin, @quote],
  html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>
  <div class="row">
    <div class="col-sm-9">
    <div class="panel minimal minimal-gray">
      <div class="panel-heading">
        <div class="panel-title">
          
        </div>
        <div class="panel-options">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#quote" data-toggle="tab">Quote</a></li>
            <li><a href="#quote-topics" data-toggle="tab">Topics</a></li>
            <% if @quote.source_type == "Person" %>
              <li><a href="#quoted-in-books" data-toggle="tab">Quoted in Books</a></li>
            <% end %>
            <% if @quote.source_type == "Book" %>
              <li><a href="#chapter-and-page" data-toggle="tab">Chapter And Page</a></li>
            <% end %>
            <% if @quote.source_type == "Book" && @quote.source.characters.any? %>
              <li><a href="#quote-character" data-toggle="tab">Quote Character</a></li>
            <% end %>
          </ul>
        </div>
      </div>
      
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane active" id="quote">
            <div class="form-inputs">
              <%= f.input :text, input_html: {rows: 5} %>
            </div>
          </div>
          
          <div class="tab-pane" id="quote-topics">
            <div id='quote_topics'>
              <%= f.simple_fields_for :quote_topics do |quote_topic| %>
                <%= render 'quote_topic_fields', :f => quote_topic %>
              <% end %>
              <div class='links'>
                <%= link_to_add_association '<i class="e-icon-squared-plus"></i> topic'.html_safe, f, :quote_topics %>
              </div>
            </div>
          </div>
          
          <% if @quote.source_type == "Person" %>
            <div class="tab-pane" id="quoted-in-books">
              <div id='quoted_in_books'>
                <%= f.simple_fields_for :quoted_in_books do |quoted_in_book| %>
                  <%= render 'quoted_in_book_fields', :f => quoted_in_book %>
                <% end %>
                <div class='links'>
                  <%= link_to_add_association '<i class="e-icon-squared-plus"></i> quoted in book'.html_safe, f, :quoted_in_books %>
                </div>
              </div>
            </div>
          <% end %>
          
          <% if @quote.source_type == "Book" %>
            <div class="tab-pane" id="chapter-and-page">
              <%= f.simple_fields_for :chapter_and_page do |cap| %>
               <%= cap.input :chapter %>
               <%= cap.input :page %>
              <% end %>
            </div>
          <% end %>
          
          <% if @quote.source_type == "Book" && @quote.source.characters.any? %>
            <div class="tab-pane" id="quote-character">
              <%= f.association :character, collection: @quote.source.characters.order(name: :asc), input_html: {multiple: false} if @quote.source_type == "Book" %>
            </div>
          <% end %>
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3 text-center">
    <% if @quote.errors.any? %>
      <div class="alert alert-danger">
        <%= "#{@quote.errors.count} error found" %>
      </div>
    <% end %>
    <%= f.button :submit %>
  </div>
</div>

<% end %>