<%= simple_form_for([:admin, @quote],
  html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>
    <div class="form-inputs">
        <%= f.input :text, input_html: {rows: 5} %>
        <%= f.association :topics, collection: Topic.all.order(name: :asc) %>
        <%= f.association :character, collection: @quote.source.characters.order(name: :asc), input_html: {multiple: false} if @quote.source_type == "Book" %>
    </div>
    <%= f.button :submit %>
<% end %>

<script type="text/javascript">
  $(function() {
    $("#quote_topic_ids").multiSelect();
  });
</script>