<div class='nested-fields'>
    <%= f.input :name %>
    <%= f.input :author %>
    <%= f.input :chapter %>
    <%= f.input :page %>
    <%= link_to_remove_association '<i class="e-icon-squared-cross"></i>'.html_safe, f %>
</div>