<!DOCTYPE html>
<html>
<head>
  <title>Loveaquote</title>
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body class="page-body login-page login-form-fall loaded login-form-fall-init <%= controller.controller_name %> <%= controller.action_name %>">
    <div class="login-container">
      <div class="main-content">
        <div class="row">
          <div class="login-header login-caret">
            <div class="login-content">
              <%= link_to root_url do %>
                <%= image_tag "logo_256.png", size: "128" %>
              <% end %>
            </div>
          </div>
          <%= yield %>
          <div class="col-sm-6 col-sm-offset-3">
              <%= render "layouts/partials/notification" %>
          </div>
          <div class="col-sm-6 col-sm-offset-3">
            <% if resource.errors.any? %>
            <div class="alert alert-danger">
              <% resource.errors.full_messages.each do |msg| %>
                <p>
                  <%= "#{msg}" %>
                  <br>
                </p>
              <% end %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>