<!DOCTYPE html>
<html>
<head>
  <title>Loveaquote</title>
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body class="page-body loaded <%= controller.controller_name %> <%= controller.action_name %>">
    <div class="page-container sidebar-collapsed">
      <%= render "layouts/partials/sidebar" %>
      <div class="main-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
