<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
  <%= render "layouts/partials/head" %>
</head>
<body class="application antialiased <%= controller.controller_name %> <%= controller.action_name  %>">
  <%= render "layouts/partials/google_analytics" %>
  <%= render "layouts/partials/facebook_sdk" %>
  <div class="site-container container">
  	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
		  	<% if content_for?(:slider) %>
				<div class="slider">
					<%= yield :slider %>
				</div>		
			<% end %>	
			<div class="wrapper">
				<main id="content" role="main" itemprop="mainContentOfPage">
					<% if content_for?(:heading) %>
						<header>
							<h1 itemprop="headline"><%= yield :heading %></h1>
						</header>
					<% end %>
					<div itemprop="text">
						<%= yield :content %>
					</div>
				</main>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
		 	<%= render "layouts/partials/aside" %>
		</div>
	</div>
	<div class="row">
		<%= render "layouts/partials/footer" %>
	</div>
	<%= render "layouts/partials/bottom_scripts" %>
  </div>
</body>
</html>