<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <%= render "layouts/partials/head" %>
  </head>
  <body class="<%= controller.controller_name %> <%= controller.action_name  %>" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <%= render "layouts/partials/google_analytics" %>
    <%= render "layouts/partials/facebook_sdk" %>
    
    <div class="row">
      <div class="large-12 columns">
        <%= render "layouts/partials/nav_bar" %>
        <div class="row">
					<div class="large-8 medium-12 small-12 columns">
					  <div class="wrapper">
      				<ul class="breadcrumbs">
                <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="<%= root_url %>" itemprop="url"><span itemprop="title">Home</span></a></li>
                <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="<%= books_url %>" itemprop="url"><span itemprop="title">Books</span></a></li>
                <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><%= @book.name %></span></li>
              </ul>
              
              <main id="content" role="main" itemprop="mainContentOfPage">
                <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
                  <header>
                    <h1 itemprop="headline" class="text-center"><%= yield :heading %></h1>
                  </header>
        
                  <div itemprop="text">
                    <%= yield :content %>
                  </div>
        
                  <footer>
                    <div class="entry-meta">
                      <span class="last-updated">
                        <%= yield :updated %>
                      </span>
                    </div>
                  </footer>
        
                </article>
        
                <%= yield :comments %>
        
                </main>
					  </div>
					</div>
		    </div>
      </div>

      <div class="col-sm-4">
        <aside>
          <%= render "layouts/partials/aside" %>
        </aside>
      </div>

    </div>

    <%= render "layouts/partials/footer" %>
    <%= render "layouts/partials/bottom_scripts" %>
  </body>
</html>