<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <%= render "layouts/partials/head" %>
  </head>
  <body class="<%= controller.controller_name %> <%= controller.action_name  %>" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <%= render "layouts/partials/google_analytics" %>
    <%= render "layouts/partials/facebook_sdk" %>
    <%= render "layouts/partials/nav_bar" %>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">

          <ul class="breadcrumb">
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="<%= root_url %>" itemprop="url"><span itemprop="title">Home</span></a></li>
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="<%= people_url %>" itemprop="url"><span itemprop="title">People</span></a></li>
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><%= @person.name %></span></li>
          </ul>

          <main id="content" role="main" itemprop="mainContentOfPage">
          <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
          
            <div class="row">
              <div class="col-md-3 hidden-xs hidden-sm">
                <% if @person.image.present? %>
                  <%= image_tag @person.image_url(:thumb), class: "thumbnail" %>
                <% else %>
                  <%= image_tag "http://placehold.it/150x150", class: "thumbnail" %>
                <% end %>
              </div>
              <div class="col-md-9 col-sm-12">
                <header>
                  <h1 itemprop="headline" class="text-right"><%= yield :heading %></h1>
                </header>
                <div class="social-sharing">
                  <a rel="nofollow" class="share-person-twitter" title="Share this person on Twitter" target="_blank" href="<%= twitter_person_url(@person) %>"><i class="fa fa-twitter-square fa-2x"></i></a>
                  <a rel="nofollow" class="share-person-facebook" title="Share this person on Facebook" target="_blank" href="<%= facebook_person_url(@person) %>"><i class="fa fa-facebook-square fa-2x"></i></a>
                  <% if @person.image.present? %>
                    <a rel="nofollow" class="share-person-pinterest" title="Share this person on Pinterest" target="_blank" href="<%= pinterest_person_url(@person) %>"><i class="fa fa-pinterest-square fa-2x"></i></a>
                  <% end %>
                </div>
              </div>
            </div>

            <div itemprop="text">
              <%= yield :content %>
            </div>

            <footer>
              <div class="entry-meta">
                <span class="last-updated">
                  <%= yield :updated %>
                </span>
              </div>
            </footer>

          </article>

          <%= yield :comments %>

          </main>
        </div>

        <div class="col-sm-4">
          <aside>
            <%= render "layouts/partials/aside" %>
          </aside>
        </div>

      </div>
    </div>
    <%= render "layouts/partials/footer" %>
    <%= render "layouts/partials/bottom_scripts" %>
  </body>
</html>