<!DOCTYPE html>
<html>
<head>
  <title>Loveaquote</title>
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body class="page-body login-page login-form-fall loaded login-form-fall-init <%= controller.controller_name %> <%= controller.action_name %>">
    <div class="login-container">
      <div class="main-content">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <%= render "layouts/partials/notification" %>
            </div>
            <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>