<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <%= render "layouts/partials/head" %>
  </head>
  <body class="<%= controller.controller_name %> <%= controller.action_name  %>" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <%= render "layouts/partials/google_analytics" %>
    <div class="site-container container">
      <div class="row">
  			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
  			  <div class="wrapper">
  			    <%= yield :breadcrumbs %>
            <main id="content" role="main" itemprop="mainContentOfPage">
              <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
                <header>
                  <h1 itemprop="headline" class="text-center"><%= yield :heading %></h1>
                  <%= yield :byline %>
                </header>
                <%= yield :top_social_bar %>
                <div itemprop="text">
                  <%= yield :content %>
                </div>
                <footer>
                  <div class="entry-meta">
                    <span class="last-updated">
                      <%= yield :updated %>
                    </span>
                  </div>
                </footer>
              </article>
            </main>
  			  </div>
  			</div>
  			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
          <aside>
            <%= render "layouts/partials/aside" %>
            <%= yield :aside %>
          </aside>
        </div>
      </div>
      
      <div class="row">
        <%= render "layouts/partials/footer" %>  
      </div>
    </div>
    <%= render "layouts/partials/bottom_scripts" %>          
  </body>
</html>