<!DOCTYPE html>
<html amp>
  <head>
    <%= render "layouts/partials/head.amp.erb" %>
  </head>
  <body class="<%= controller.controller_name %> <%= controller.action_name  %>" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <%= render "layouts/partials/google_analytics" %>
    <div class="row">
      <div class="small-12 large-6 large-offset-3 columns">
    	  <div class="wrapper">
          <main id="content" role="main" itemprop="mainContentOfPage">
            <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
              <header><h1 itemprop="headline" class="text-center"><%= yield :heading %></h1></header>
              <div itemprop="text">
                <%= yield :content %>
              </div>
              <footer>
                <div class="entry-meta">
                  <span class="last-updated">
                    <%= yield :updated %>
                  </span>
                </div>
              </footer>
            </article>
          </main>
    	  </div>
	    </div>
	  </div>
  </body>
</html>