<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <%= render "layouts/partials/head" %>
  </head>
  <body class="<%= controller.controller_name %> <%= controller.action_name  %>" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <%= render "layouts/partials/google_analytics" %>
    <%= render "layouts/partials/facebook_sdk" %>
    
    <div class="row">
      <div class="large-12 columns">
        <%= render "layouts/partials/nav_bar" %>
        <div class="row">
					<div class="large-8 medium-12 small-12 columns">
					  <div class="wrapper">
					    <%= yield :breadcrumbs %>
              <main id="content" role="main" itemprop="mainContentOfPage">
                <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
                  <header>
                    <h1 itemprop="headline" class="text-center"><%= yield :heading %></h1>
                  </header>
                  <div class="row">
                    <div class="small-12 medium-4 columns">
                      <div class="social-sharing">
                        <%= yield :social_sharing %>
                      </div>
                    </div>
                    <div class="small-12 medium-6 columns last">
                      <%= form_tag "", method: :get do %>
                        <div class="input-group">
                          <%= text_field_tag :search, params[:search], class: "input-group-field small" %>
                          <div class="input-group-button">
                            <%= submit_tag "Search", class: "button small secondary" %>
                          </div>
                        </div>
                      <% end %>            
                    </div>
                  </div>
                  <div itemprop="text">
                    <%= yield :content %>
                  </div>
                  <footer>
                    <div class="entry-meta">
                      <span class="last-updated">
                        <%= yield :updated %>
                      </span>
                    </div>
                  </footer>
                </article>
                <%= yield :comments %>
              </main>
					  </div>
					</div>
    			<div class="large-4 medium-12 small-12 columns">
            <aside>
              <%= yield :aside %>
            </aside>
          </div>
		    </div>
		    <%= render "layouts/partials/footer_widgets" %>
  		  <%= render "layouts/partials/footer" %>
        <%= render "layouts/partials/bottom_scripts" %>
      </div>
    </div>
  </body>
</html>